@vui-alert: ~"@{vui}-alert";


.@{vui-alert} {
	position:relative;
	box-sizing:border-box;
	border:@border-width @border-style @border-color;
	border-radius:@border-radius;
	background-color:@background-color;
	margin-bottom:15px;
	line-height:@line-height;

	& &-icon {
		position:absolute;
		line-height:1;

		.@{vui}-icon {
			display:block;
		}
	}

	& &-message {
		text-align:left;
		white-space:normal;
		word-break:break-all;
		word-wrap:break-word; 
	}

	& &-description {
		margin-top:8px;
		color:@font-color;
		font-size:@font-size;
		text-align:left;
		white-space:normal;
		word-break:break-all;
		word-wrap:break-word; 
	}

	& &-btn-close {
		position:absolute;
		cursor:pointer;
		color:@font-secondary-color;
		line-height:1;
		transition:all @transition-duration @transition-timing-function;

		.@{vui}-icon {
			display:block;
		}

		&:hover {
			color:@font-color;
		}
	}


	&-info {
		border-color:tint(@primary-color, 40%);
		background-color:tint(@primary-color, 90%);
	}
	&-info &-icon {
		color:@primary-color;
	}

	&-warning {
		border-color:tint(@warning-color, 40%);
		background-color:tint(@warning-color, 90%);
	}
	&-warning &-icon {
		color:@warning-color;
	}

	&-success {
		border-color:tint(@success-color, 40%);
		background-color:tint(@success-color, 90%);
	}
	&-success &-icon {
		color:@success-color;
	}

	&-error {
		border-color:tint(@error-color, 40%);
		background-color:tint(@error-color, 90%);
	}
	&-error &-icon {
		color:@error-color;
	}


	& {
		padding:10px 15px;
	}
	&&-with-icon {
		padding-left:@font-size + 25px;
	}
	&&-closable {
		padding-right:@font-size-sm + 25px;
	}

	& &-icon {
		top:13.5px;
		left:15px;
		font-size:@font-size;
	}

	& &-message {
		color:@font-color;
		font-size:@font-size;
	}

	& &-btn-close {
		top:14.5px;
		right:15px;
		font-size:@font-size-sm;
	}


	&-with-description {
		padding:15px 15px;
	}
	&-with-description&-with-icon {
		padding-left:round(@font-size-lg * @line-height) + 25px;
	}
	&-with-description&-closable {
		padding-right:@font-size-sm + 25px;
	}

	&-with-description &-icon {
		top:15px;
		left:15px;
		font-size:round(@font-size-lg * @line-height);
	}

	&-with-description &-message {
		color:@font-primary-color;
		font-size:@font-size-lg;
	}

	&-with-description &-btn-close {
		top:21px;
		right:15px;
		font-size:@font-size-sm;
	}


	&-banner {
		border:unset;
		border-radius:unset;
		margin-bottom:0;
	}


	&-slide-enter-active {
		animation:vuiAlertSlideIn @animation-in-duration @animation-in-timing-function both;
	}
	&-slide-leave-active {
		animation:vuiAlertSlideOut @animation-out-duration @animation-out-timing-function both;
	}
}


@keyframes vuiAlertSlideIn {
	0% {
		opacity:0;
		transform-origin:0% 0%;
		transform:scaleY(0);
	}
	100% {
		opacity:1;
		transform-origin:0% 0%;
		transform:scaleY(1);
	}
}

@keyframes vuiAlertSlideOut {
	0% {
		opacity:1;
		transform-origin:0% 0%;
		transform:scaleY(1);
	}
	100% {
		opacity:0;
		transform-origin:0% 0%;
		transform:scaleY(0);
	}
}

