@vui-collapse: ~"@{vui}-collapse";


.vui-collapse { border-width:1px; border-style:solid; border-color:#e6e6e6; border-radius:2px; background-color:#fff; color:#595959; font-size:14px; line-height:1.42857143; transition:all 0.2s; }
.vui-collapse > .vui-panel { border-bottom:1px solid #e6e6e6; }
.vui-collapse > .vui-panel:last-child { border-bottom:none; }
.vui-collapse > .vui-panel > .vui-panel-header { background-color:#f9f9f9; }
.vui-collapse > .vui-panel > .vui-panel-body-wrapper > .vui-panel-body { border-top:1px solid #e6e6e6; padding:15px; }


.vui-collapse-borderless { border-width:1px 0; }
.vui-collapse-borderless > .vui-panel {  }
.vui-collapse-borderless > .vui-panel:last-child {  }
.vui-collapse-borderless > .vui-panel > .vui-panel-header { background-color:unset; }
.vui-collapse-borderless > .vui-panel > .vui-panel-body-wrapper > .vui-panel-body { border-top:unset; padding:5px 15px 15px 15px; }

