@vui-descriptions: ~"@{vui}-descriptions";

.@{vui-descriptions} {
	box-sizing:border-box;
	line-height:@descriptions-line-height;

	&-header {
		display:flex;
		box-sizing:border-box;
		align-items:center;
	}

	&-title {
		flex:1;
		display:block;
		box-sizing:border-box;
		color:@descriptions-title-font-color;
		font-size:@descriptions-title-font-size;
		font-weight:@descriptions-title-font-weight;
		transition:all @transition-duration;
	}

	&-extra {
		margin-left:16px;
	}

	&-body {
		display:block;
		box-sizing:border-box;
		width:100%;
		border-radius:@descriptions-body-border-radius;
		overflow:hidden;
	}

	table {
		width:100%;
		border-collapse:collapse;
		border-spacing:0;
	}

	th, td {
		padding:0;
		vertical-align:top;
		text-align:left;
		transition:all @transition-duration;
	}

	&-item-label {
		color:@descriptions-item-label-font-color;
		white-space:nowrap;
	}

	&-item-label-colon {
		&:after {
			content:":";
			padding:0 @descriptions-item-label-colon-margin-right 0 @descriptions-item-label-colon-margin-left;
		}
	}

	&-item-content {
		color:@descriptions-item-content-font-color;
		.writeBreak;
	}

	&-small &-header {
		margin-bottom:12px;
	}
	&-small th {
		padding-bottom:6px;
	}
	&-small td {
		padding-bottom:8px;
	}
	&-medium &-header {
		margin-bottom:16px;
	}
	&-medium th {
		padding-bottom:10px;
	}
	&-medium td {
		padding-bottom:12px;
	}
	&-large &-header {
		margin-bottom:20px;
	}
	&-large th {
		padding-bottom:14px;
	}
	&-large td {
		padding-bottom:16px;
	}

	&-bordered th, &-bordered td {
		border:1px solid @descriptions-cell-border-color;
	}
	&-bordered th {
		background-color:@descriptions-cell-background-color;
	}
	&-bordered &-item-label-colon {
		&:after {
			padding:0 0 0 @descriptions-item-label-colon-margin-left;
		}
	}

	&-bordered&-small &-header {
		margin-bottom:12px;
	}
	&-bordered&-small th, &-bordered&-small td {
		padding:8px 12px;
	}
	&-bordered&-medium &-header {
		margin-bottom:16px;
	}
	&-bordered&-medium th, &-bordered&-medium td {
		padding:12px 16px;
	}
	&-bordered&-large &-header {
		margin-bottom:20px;
	}
	&-bordered&-large th, &-bordered&-large td {
		padding:14px 20px;
	}
}