@vui-empty: ~"@{vui}-empty";

.vui-empty { text-align:center; }
.vui-empty .vui-empty-icon { width:64px; height:40px; margin:0 auto; }
.vui-empty .vui-empty-icon svg { width:100%; height:100%; }
.vui-empty .vui-empty-description { margin-top:10px; color:#ccc; font-size:14px; text-align:center; line-height:1; }
