@vui-form: ~"@{vui}-form";

.@{vui-form} {
	display:block;
	color:#595959;
	font-size:14px;
	line-height:@line-height;

	&-group {
		position:relative;
		border:1px solid #e0e0e0;
		border-radius:2px;
		padding:30px;

		&-title {
			position:absolute;
			top:0;
			left:20px;
			background-color:#fff;
			padding:0 12px;
			color:#595959;
			font-size:14px;
			line-height:@line-height;
			transform:translateY(-50%);
		}

		& + & {
			margin-top:30px;
		}
	}

	&-item {
		.clearfix;

		&-label {
			display:flex;
			align-items:center;
			overflow:hidden;
			color:#262626;

			&-left {
				justify-content:flex-start;
			}

			&-right {
				justify-content:flex-end;
			}

			&-required {
				flex-shrink:0;
				display:block;
				margin-right:4px;
				color:#ed5565;
				font-family:SimSun, sans-serif;
			}

			&-optional {
				flex-shrink:0;
				display:block;
				margin-left:4px;
				color:#8c8c8c;
			}

			&-content {
				flex-shrink:1;
				display:block;
				overflow:hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
			}

			&-description {
				color:#8c8c8c;
			}

			&-tooltip {
				flex-shrink:0;
				display:block;
				margin-left:4px;
				color:#8c8c8c;

				i {
					display:block;
				}
			}

			&-colon {
				flex-shrink:0;
				display:block;
				margin-left:2px;
			}
		}

		&-control {
			position:relative;

			&-layout {
				display:flex;
				align-items:center;
				min-height:34px;

				&-content {
					flex:1;
					max-width:100%;
				}
			}

			&-extra {
				margin-top:12px;
				color:#8c8c8c;
			}

			&-message {
				position:absolute;
				top:100%;
				left:0;
				width:100%;
				padding:2px 0;
				color:#ed5565;
				line-height:20px;

				&-fade-enter-active { animation:vuiFormItemControlMessageFadeIn @animation-in-duration @animation-in-timing-function both; }
				&-fade-leave-active { animation:vuiFormItemControlMessageFadeOut @animation-out-duration @animation-out-timing-function both; }
			}
		}

		&-without-label &-control {
			&-layout {
				min-height:unset;
			}
		}
	}

	&-horizontal &-item {
		display:block;
		margin-bottom:24px;

		&:last-child {
			margin-bottom:0;
		}

		&-label {
			float:left;
			height:34px;
			padding-right:12px;
		}
	}

	&-vertical &-item {
		display:block;
		margin-bottom:24px;

		&:last-child {
			margin-bottom:0;
		}

		&-label {
			margin-bottom:12px;
		}
	}

	&-inline {
		display:flex;
		flex-wrap:wrap;
		align-items:flex-start;
	}
	&-inline &-item {
		flex-shrink:0;
		display:flex;
		flex-wrap:nowrap;
		align-items:flex-start;
		margin-right:16px; 

		&:last-child {
			margin-right:0;
		}

		&-label {
			height:34px;
			padding-right:12px;
		}
	}
}

@keyframes vuiFormItemControlMessageFadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}

@keyframes vuiFormItemControlMessageFadeOut {
	0% { opacity:1; }
	100% { opacity:0; }
}

.vui-form-item-error .vui-input .vui-input-main input { border-color:#ed5565; }
.vui-form-item-error .vui-input .vui-input-main input:hover { border-color:#ed5565; }
.vui-form-item-error .vui-input .vui-input-main input:focus { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-input .vui-input-main input:disabled { border-color:#ed5565; }

.vui-form-item-error .vui-input-number { border-color:#ed5565; }
.vui-form-item-error .vui-input-number:hover { border-color:#ed5565; }
.vui-form-item-error .vui-input-number.vui-input-number-focused { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-input-number.vui-input-number-disabled { border-color:#ed5565; }

.vui-form-item-error .vui-textarea .vui-textarea-main textarea { border-color:#ed5565; }
.vui-form-item-error .vui-textarea .vui-textarea-main textarea:hover { border-color:#ed5565; }
.vui-form-item-error .vui-textarea .vui-textarea-main textarea:focus { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-textarea .vui-textarea-main textarea:disabled { border-color:#ed5565; }

.vui-form-item-error .vui-select .vui-select-selection { border-color:#ed5565; }
.vui-form-item-error .vui-select .vui-select-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-select-hovered .vui-select-selection { border-color:#ed5565; }
.vui-form-item-error .vui-select-hovered .vui-select-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-select-focused .vui-select-selection { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-select-focused .vui-select-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-select-actived .vui-select-selection { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-select-actived .vui-select-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-select-disabled .vui-select-selection { border-color:#ed5565; }
.vui-form-item-error .vui-select-disabled .vui-select-selection-arrow { color:#ed5565; }

.vui-form-item-error .vui-cascader .vui-cascader-selection { border-color:#ed5565; }
.vui-form-item-error .vui-cascader .vui-cascader-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-cascader-hovered .vui-cascader-selection { border-color:#ed5565; }
.vui-form-item-error .vui-cascader-hovered .vui-cascader-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-cascader-focused .vui-cascader-selection { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-cascader-focused .vui-cascader-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-cascader-actived .vui-cascader-selection { border-color:#ed5565; box-shadow:0 0 0 2px fade(tint(#ed5565, 10%), 15); }
.vui-form-item-error .vui-cascader-actived .vui-cascader-selection-arrow { color:#ed5565; }
.vui-form-item-error .vui-cascader-disabled .vui-cascader-selection { border-color:#ed5565; }
.vui-form-item-error .vui-cascader-disabled .vui-cascader-selection-arrow { color:#ed5565; }