@vui-layout: ~"@{vui}-layout";

.@{vui-layout} {
  flex:auto;
  display:flex;
  box-sizing:border-box;
  min-height:0;
  background-color:@layout-background-color;
  flex-direction:column;

  &-header {
    flex:0 0 auto;
    display:block;
    box-sizing:border-box;
    height:@layout-header-height;
    padding:@layout-header-padding;
    line-height:@layout-header-height;

    &-light {
      background-color:@layout-header-light-background-color;
    }
    &-dark {
      background-color:@layout-header-dark-background-color;
    }
  }

  &-sider {
    position:relative;
    display:block;
    box-sizing:border-box;
    min-width:0;
    transition:all @transition-duration @transition-timing-function;

    & &-children {
      box-sizing:border-box;
      height:100%;
      overflow:hidden;
    }
    & &-children-scrollbar {
      box-sizing:border-box;
      height:100%;
      overflow-x:hidden;
      overflow-y:scroll;
    }
    & &-trigger {
      position:absolute;
      bottom:0;
      cursor:pointer;
      box-sizing:border-box;
      width:100%;
      height:@layout-sider-trigger-height;
      padding:@layout-sider-trigger-padding;
      font-size:@layout-sider-trigger-font-size;
      line-height:@layout-sider-trigger-height;
      transition:all @transition-duration @transition-timing-function;
    }

    &-with-trigger &-children {
      padding-bottom:@layout-sider-trigger-height;
    }

    &-light {
      background-color:@layout-sider-light-background-color;
    }
    &-light &-trigger {
      background-color:@layout-sider-light-background-color;
      box-shadow:0 1px 0 rgba(0, 0, 0, 0.05) inset;
      color:@font-color;
    }
    &-light &-trigger:hover {
      color:@font-primary-color;
    }
    &-light &-trigger:active {
      color:@font-primary-color;
    }

    &-dark {
      background-color:@layout-sider-dark-background-color;
    }
    &-dark &-trigger {
      background-color:@layout-sider-dark-background-color;
      box-shadow:0 1px 0 rgba(255, 255, 255, 0.025) inset;
      color:rgba(255, 255, 255, 0.65);
    }
    &-dark &-trigger:hover {
      color:rgba(255, 255, 255, 1);
    }
    &-dark &-trigger:active {
      color:rgba(255, 255, 255, 1);
    }
  }

  &-content {
    flex:auto;
    display:block;
    box-sizing:border-box;
    min-height:0;
  }

  &-footer {
    flex:0 0 auto;
    display:block;
    box-sizing:border-box;
    padding:@layout-footer-padding;
    color:@layout-footer-font-color;
    font-size:@layout-footer-font-size;
    line-height:@layout-footer-line-height;
  }

  &-with-sider {
    flex-direction:row;
  }
  &-with-sider &,
  &-with-sider &-content {
    overflow-x:hidden;
  }
}