@vui-loading: ~"@{vui}-loading";

@keyframes vuiLoadingSpinner {
	0% { transform:rotate(0deg); }
	50% { transform:rotate(180deg); }
	100% { transform:rotate(360deg); }
}

.@{vui-loading} {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:2000;
	width:100%;
	height:2px;

	&-bar {
		width:0;
		height:100%;
		background-color:@primary-color;
	}
	&-spinner {
		position:absolute;
		top:15px;
		right:15px;
		box-sizing:border-box;
		display:none;
		width:16px;
		height:16px;
		border-width:1px;
		border-style:solid;
		border-color:rgba(45,140,240,0.2) rgba(45,140,240,0.2) rgba(45,140,240,1) rgba(45,140,240,0.2);
		border-radius:50%;
		animation:vuiLoadingSpinner 1s infinite linear;
	}
}