@vui-message: ~"@{vui}-message";

@keyframes vuiMessageFadeIn {
	0% {
		opacity:0;
		transform:translate(-50%, -100%);
	}
	100% {
		opacity:1;
		transform:translate(-50%, 0);
	}
}

@keyframes vuiMessageFadeOut {
	0% {
		opacity:1;
	}
	30% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

.@{vui-message} {
	position:fixed;
	top:20px;
	left:50%;
	box-sizing:border-box;
	border-radius:@border-radius;
	background-color:@background-color;
	box-shadow:@box-shadow;
	padding:10px 15px;
	transform:translate(-50%,0);
	transition:top @transition-duration @transition-timing-function;

	& &-icon {
		position:absolute;
		top:13.5px;
		left:15px;
		color:@font-color;
		font-size:@font-size;
		line-height:1;

		.@{vui}-icon {
			display:block;
		}
	}

	& &-content {
		color:@font-color;
		font-size:@font-size;
		text-align:left;
		line-height:@line-height;
		white-space:normal;
		word-break:break-all;
		word-wrap:break-word; 
	}

	& &-btn-close {
		position:absolute;
		top:14.5px;
		right:15px;
		cursor:pointer;
		color:@font-secondary-color;
		font-size:@font-size-sm;
		line-height:1;
		transition:all @transition-duration @transition-timing-function;

		.@{vui}-icon {
			display:block;
		}

		&:hover {
			color:@font-color;
		}
	}


	&-info &-icon {
		color:@primary-color;
	}

	&-warning &-icon {
		color:@warning-color;
	}

	&-success &-icon {
		color:@success-color;
	}

	&-error &-icon {
		color:@error-color;
	}

	&-loading &-icon {
		color:@primary-color;
	}


	&&-with-icon {
		padding-left:@font-size + 25px;
	}


	&&-closable {
		padding-right:@font-size-sm + 25px;
	}


	&-fade-enter-active {
		animation:vuiMessageFadeIn @animation-in-duration @animation-in-timing-function both;
	}
	&-fade-leave-active {
		animation:vuiMessageFadeOut @animation-out-duration @animation-out-timing-function both;
	}
}
