@vui-radio: ~"@{vui}-radio";

.@{vui-radio} {
	cursor:pointer;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:middle;
	color:@radio-font-color;
	line-height:0;
	white-space:nowrap;

	&-input {
		position:relative;
		cursor:inherit;
		display:inline-block;
		box-sizing:border-box;
		border:1px solid @radio-border-color;
		border-radius:50%;
		background-color:@radio-background-color;
		vertical-align:middle;
		transition:all @transition-duration;

		&:before {
			content:"";
			position:absolute;
			top:50%;
			left:50%;
			display:block;
			box-sizing:border-box;
			border-radius:50%;
			background-color:@radio-input-color;
			opacity:0;
			transform:scale(0);
			transition:all @transition-duration;
		}

		input[type="radio"] {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			cursor:inherit;
			display:block;
			box-sizing:border-box;
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			opacity:0;
			appearance:none;
		}
	}

	&-label {
		cursor:inherit;
		display:inline-block;
		box-sizing:border-box;
		vertical-align:middle;
		line-height:1;
	}

	// hovered
	&:hover {

	}
	&:hover &-input {
		border-color:@radio-hover-border-color;
	}
	&:hover &-input:before {

	}

	// focused
	&-focused {

	}
	&-focused &-input {
		border-color:@radio-hover-border-color;
		box-shadow:0 0 0 2px fade(@radio-hover-border-color, 15);
	}
	&-focused &-input:before {

	}

	// checked
	&-checked {

	}
	&-checked &-input {
		border-color:@radio-checked-border-color;
	}
	&-checked &-input:before {
		opacity:1;
		transform:scale(1);
	}

	// disabled
	&-disabled {
		cursor:not-allowed;
		color:@radio-disabled-font-color;
	}
	&-disabled &-input {
		border-color:@radio-disabled-border-color !important;
		background-color:@radio-disabled-background-color;
	}
	&-disabled &-input:before {
		background-color:@radio-disabled-input-color;
	}

	// size
	&-small {
		font-size:@radio-font-size-sm;
	}
	&-small &-input {
		width:@radio-size-sm;
		height:@radio-size-sm;
	}
	&-small &-input:before {
		width:@radio-size-sm - 8px;
		height:@radio-size-sm - 8px;
		margin-top:-((@radio-size-sm - 8px) / 2);
		margin-left:-((@radio-size-sm - 8px) / 2);
	}
	&-small &-label {
		padding-left:@radio-size-sm - 8px;
	}

	&-medium {
		font-size:@radio-font-size-md;
	}
	&-medium &-input {
		width:@radio-size-md;
		height:@radio-size-md;
	}
	&-medium &-input:before {
		width:@radio-size-md - 8px;
		height:@radio-size-md - 8px;
		margin-top:-((@radio-size-md - 8px) / 2);
		margin-left:-((@radio-size-md - 8px) / 2);
	}
	&-medium &-label {
		padding-left:@radio-size-md - 8px;
	}
	&-large {
		font-size:@radio-font-size-lg;
	}
	&-large &-input {
		width:@radio-size-lg;
		height:@radio-size-lg;
	}
	&-large &-input:before {
		width:@radio-size-lg - 8px;
		height:@radio-size-lg - 8px;
		margin-top:-((@radio-size-lg - 8px) / 2);
		margin-left:-((@radio-size-lg - 8px) / 2);
	}
	&-large &-label {
		padding-left:@radio-size-lg - 8px;
	}
}

@vui-radio-button: ~"@{vui}-radio-button";

.@{vui-radio-button} {
	position:relative;
	cursor:pointer;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid @radio-button-border-color;
	border-radius:@radio-button-border-radius;
	background-color:@radio-button-background-color;
	margin:0;
	vertical-align:middle;
	color:@radio-button-font-color;
	font-weight:400;
	white-space:nowrap;
	text-align:center;
	transition:all @transition-duration;

	&-input {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		cursor:inherit;
		display:block;
		box-sizing:border-box;
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		opacity:0;

		input[type="radio"] {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			cursor:inherit;
			display:block;
			box-sizing:border-box;
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			opacity:0;
			appearance:none;
		}
	}

	// hovered
	&:hover {
		z-index:1;
		color:@radio-button-hover-font-color;
	}

	// focused
	&-focused {
		z-index:2;
		color:@radio-button-hover-font-color !important;
	}

	// checked
	&-checked {
		z-index:3;
		border-color:@radio-button-checked-border-color;
		color:@radio-button-checked-font-color !important;
	}

	// focused & checked
	&-focused&-checked {
		z-index:4;
		box-shadow:0 0 0 2px fade(@radio-button-checked-border-color, 10);
	}

	// disabled
	&-disabled {
		z-index:0;
		cursor:not-allowed;
		border-color:@radio-button-disabled-border-color;
		background-color:@radio-button-disabled-background-color;
		color:@radio-button-disabled-font-color !important;
	}

	// checked & disabled
	&-checked&-disabled {
		background-color:shade(@radio-button-disabled-background-color, 5%);
	}

	// size
	&-small {
		height:@radio-button-size-sm;
		padding:0 8px;
		font-size:@radio-button-font-size-sm;
		line-height:@radio-button-size-sm - 2px;
	}

	&-medium {
		height:@radio-button-size-md;
		padding:0 14px;
		font-size:@radio-button-font-size-md;
		line-height:@radio-button-size-md - 2px;
	}

	&-large {
		height:@radio-button-size-lg;
		padding:0 20px;
		font-size:@radio-button-font-size-lg;
		line-height:@radio-button-size-lg - 2px;
	}
}