@vui-radio-group: ~"@{vui}-radio-group";

.@{vui-radio-group} {
	display:inline-block;
	box-sizing:border-box;
	vertical-align:middle;
	font-size:0;
	white-space:nowrap;

	.vui-radio + .vui-radio {
		margin-left:16px;
	}

	.vui-radio-button {
		&:first-child {
			border-radius:@radio-button-border-radius 0 0 @radio-button-border-radius;
		}
		&:last-child {
			border-radius:0 @radio-button-border-radius @radio-button-border-radius 0;
		}
		&:not(:first-child):not(:last-child) {
			border-radius:0;
		}
	}
	.vui-radio-button + .vui-radio-button {
		margin-left:-1px;
	}

	&-vertical {
		.vui-radio {
			display:flex;
		}
		.vui-radio + .vui-radio {
			margin-left:0;
			margin-top:16px;
		}

		.vui-radio-button {
			display:block;

			&:first-child {
				border-radius:@radio-button-border-radius @radio-button-border-radius 0 0;
			}
			&:last-child {
				border-radius:0 0 @radio-button-border-radius @radio-button-border-radius;
			}
			&:not(:first-child):not(:last-child) {
				border-radius:0;
			}
		}
		.vui-radio-button + .vui-radio-button {
			margin-left:0;
			margin-top:-1px;
		}
	}
}