@vui-select: ~"@{vui}-select";

.@{vui-select} {
  & {
    position:relative;
    display:inline-block;
    box-sizing:border-box;
    vertical-align:middle;
    line-height:normal;
  }

  &-selection {
    position:relative;
    cursor:pointer;
    display:block;
    box-sizing:border-box;
    width:100%;
    border:1px solid #e0e0e0;
    border-radius:2px;
    background-color:#fff;
    overflow:hidden;
    transition:all 0.2s;

    &-item-list {
      .clearfix;
    }

    &-item {
      display:flex;
      justify-content:flex-start;
      align-items:center;
      box-sizing:border-box;
      color:#595959;
      transition:height 0.2s, padding 0.2s, font-size 0.2s, line-height 0.2s;

      &-content {
        flex:1;
        display:block;
        box-sizing:border-box;

        .writeEllipsis;
      }

      &-btn-deselect {
        cursor:pointer;
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing:border-box;
        height:100%;
        font-size:12px;
        opacity:0.85;
        transition:all 0.2s;

        &:hover {
          opacity:1;
        }
      }
    }

    &-placeholder {
      display:block;
      box-sizing:border-box;
      color:#bfbfbf;
      text-align:left;
      transition:height 0.2s, padding 0.2s, font-size 0.2s, line-height 0.2s;;

      .writeEllipsis;
    }

    &-input {
      box-sizing:border-box;
      margin:0;
      color:#595959;
      white-space:nowrap;
      transition:height 0.2s, padding 0.2s, font-size 0.2s, line-height 0.2s;;

      pre {
        display:block;
        width:100%;
        height:100%;
        text-align:left;
        opacity:0;
      }

      input {
        position:absolute;
        top:0;
        left:0;
        cursor:inherit;
        display:block;
        box-sizing:border-box;
        width:100%;
        height:100%;
        border:none;
        background-color:transparent;
        padding:inherit;
        color:inherit;
        font-size:inherit;
        font-family:inherit;
        text-align:left;
      }
    }

    &-arrow {
      position:absolute;
      cursor:inherit;
      display:block;
      box-sizing:border-box;
      height:2px;
      color:#bfbfbf;
      transition:top 0.2s, right 0.2s;

      &:before,
      &:after {
        content:"";
        position:absolute;
        top:0;
        height:2px;
        background-color:currentColor;
        transform-origin:center center;
        transition:background-color 0.2s, transform 0.2s;
      }

      &:before {
        left:0;
        transform:rotate(45deg) scaleY(0.5);
      }

      &:after {
        right:0;
        transform:rotate(-45deg) scaleY(0.5);
        transition:background-color 0.2s, transform 0.2s;
      }
    }

    &-btn-clear {
      position:absolute;
      cursor:pointer;
      display:flex;
      justify-content:center;
      align-items:center;
      box-sizing:border-box;
      color:#bfbfbf;
      transition:top 0.2s, right 0.2s, color 0.2s;

      &:hover {
        color:#595959;
      }
    }
  }


  &-hovered {
    z-index:1;
  }
  &-hovered &-selection {
    border-color:tint(#2d8cf0, 10%);

    &-item {
      
    }

    &-arrow {
      &:before {

      }

      &:after {

      }
    }
  }

  &-focused {
    z-index:2;
  }
  &-focused &-selection {
    border-color:tint(#2d8cf0, 10%);

    &-item {
      
    }

    &-arrow {
      &:before {

      }

      &:after {

      }
    }
  }

  &-actived {
    z-index:2;
  }
  &-actived &-selection {
    border-color:tint(#2d8cf0, 10%);

    &-item {
      
    }

    &-arrow {
      &:before {
        transform:rotate(-45deg) scaleY(0.5);
      }

      &:after {
        transform:rotate(45deg) scaleY(0.5);
      }
    }
  }

  &-disabled {

  }
  &-disabled &-selection {
    cursor:not-allowed;
    border-color:@border-color;
    background-color:shade(@component-background-color, 2%);

    &-item {
      border-color:#e6e6e6; color:#bfbfbf;
    }

    &-arrow {
      &:before {

      }

      &:after {

      }
    }
  }


  &-single {
    width:auto;
  }

  &-single &-selection {
    &-item {
      width:100%;
    }

    &-placeholder {
      width:100%;
    }

    &-input {
      position:absolute;
      top:0;
      left:0;
      width:100%;
    }
  }

  &-single&-small &-selection {
    height:24px;

    &-item {
      height:22px;
      padding:0 22px 0 6px;
      font-size:12px;
      line-height:22px;
    }

    &-placeholder {
      height:22px;
      padding:0 22px 0 6px;
      font-size:12px;
      line-height:22px;
    }

    &-input {
      height:22px;
      padding:0 22px 0 6px;
      font-size:12px;
    }

    &-arrow {
      top:10px;
      right:6px;
      width:10px;
      
      &:before,
      &:after {
        width:6px;
      }
    }

    &-btn-clear {
      top:5px;
      right:6px;
      font-size:12px;
    }
  }

  &-single&-medium &-selection {
    height:34px;

    &-item {
      height:32px;
      padding:0 28px 0 8px;
      font-size:14px;
      line-height:32px;
    }

    &-placeholder {
      height:32px;
      padding:0 28px 0 8px;
      font-size:14px;
      line-height:32px;
    }

    &-input {
      height:32px;
      padding:0 28px 0 8px;
      font-size:14px;
    }

    &-arrow {
      top:15px;
      right:8px;
      width:12px;
      
      &:before,
      &:after {
        width:7px;
      }
    }

    &-btn-clear {
      top:9px;
      right:8px;
      font-size:14px;
    }
  }

  &-single&-large &-selection {
    height:44px;

    &-item {
      height:42px;
      padding:0 34px 0 10px;
      font-size:16px;
      line-height:42px;
    }

    &-placeholder {
      height:42px;
      padding:0 34px 0 10px;
      font-size:16px;
      line-height:42px;
    }

    &-input {
      height:42px;
      padding:0 34px 0 10px;
      font-size:16px;
    }

    &-arrow {
      top:20px;
      right:10px;
      width:14px;
      
      &:before,
      &:after {
        width:8px;
      }
    }

    &-btn-clear {
      top:13px;
      right:10px;
      font-size:16px;
    }
  }


  &-multiple {
    width:100%;
  }

  &-multiple &-selection {
    &-placeholder {
      position:absolute;
      top:0;
      left:0;
      width:100%;
    }

    &-item {
      position:relative;
      float:left;
      border:1px solid #f0f0f0;
      border-radius:2px;
      background-color:#fafafa;
      
      &-btn-deselect {
        transform:scale(0.85);
      }
    }

    &-input {
      position:relative;
      float:left;
    }
  }

  &-multiple&-small &-selection {
    min-height:24px;
    padding:1px;

    &-item {
      max-width:calc(100% - 2px);
      height:18px;
      margin:1px;
      padding:0 4px;
      font-size:12px;
      line-height:16px;

      &-btn-deselect {
        margin-left:4px;
      }
    }

    &-placeholder {
      height:22px;
      padding:0 6px;
      font-size:12px;
      line-height:22px;
    }

    &-input {
      min-width:6px;
      max-width:calc(100% - 2px);
      height:18px;
      margin:1px;
      margin-left:5px;
      font-size:12px;
    }

    &-btn-clear {
      top:5px;
      right:6px;
      font-size:12px;
    }
  }

  &-multiple&-small &-selection-item + &-selection-input {
    margin-left:1px;
  }

  &-multiple&-medium &-selection {
    min-height:34px;
    padding:2px;

    &-item {
      max-width:calc(100% - 4px);
      height:24px;
      margin:2px;
      padding:0 6px;
      font-size:14px;
      line-height:22px;

      &-btn-deselect {
        margin-left:6px;
      }
    }

    &-placeholder {
      height:32px;
      padding:0 8px;
      font-size:14px;
      line-height:32px;
    }

    &-input {
      min-width:10px;
      max-width:calc(100% - 4px);
      height:24px;
      margin:2px;
      margin-left:6px;
      font-size:14px;
    }

    &-btn-clear {
      top:9px;
      right:8px;
      font-size:14px;
    }
  }

  &-multiple&-medium &-selection-item + &-selection-input {
    margin-left:2px;
  }

  &-multiple&-large &-selection {
    min-height:44px;
    padding:3px;

    &-item {
      max-width:calc(100% - 6px);
      height:30px;
      margin:3px;
      padding:0 8px;
      font-size:16px;
      line-height:28px;

      &-btn-deselect {
        margin-left:8px;
      }
    }

    &-placeholder {
      height:42px;
      padding:0 10px;
      font-size:16px;
      line-height:42px;
    }

    &-input {
      min-width:14px;
      max-width:calc(100% - 6px);
      height:30px;
      margin:3px;
      margin-left:7px;
      font-size:16px;
    }

    &-btn-clear {
      top:13px;
      right:10px;
      font-size:16px;
    }
  }

  &-multiple&-large &-selection-item + &-selection-input {
    margin-left:3px;
  }


  &-dropdown {
    position:absolute;
    top:0;
    left:0;
    display:block;
    box-sizing:border-box;
    max-height:282px;
    border-radius:2px;
    background-color:#fff;
    box-shadow:0 1px 6px rgba(0,0,0,0.1);
    margin:4px 0;
    padding:4px 0;
    overflow:auto;

    &[data-placement="top"] {
      transform-origin:bottom center;
    }
    &[data-placement="top-start"] {
      transform-origin:bottom left;
    }
    &[data-placement="top-end"] {
      transform-origin:bottom right;
    }
    &[data-placement="bottom"] {
      transform-origin:top center;
    }
    &[data-placement="bottom-start"] {
      transform-origin:top left;
    }
    &[data-placement="bottom-end"] {
      transform-origin:top right;
    }

    &-scale-enter-active,
    &-scale-leave-active {
      opacity:1;
      transform:scaleY(1);
      transition:opacity @transition-duration @transition-timing-function, transform @transition-duration @transition-timing-function;
    }

    &-scale-enter,
    &-scale-leave-active {
      opacity:0;
      transform:scaleY(0.8);
    }
  }


  &-spin {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    box-sizing:border-box;
    height:34px;
    margin:0;
    padding:0 10px;
    color:#bfbfbf;
    font-size:14px;

    &-message {
      flex:1;
      display:block;
      box-sizing:border-box;
      margin-left:8px;

      .writeEllipsis;
    }
  }


  &-empty {
    display:block;
    box-sizing:border-box;
    margin:0;
    padding:10px;
    color:#bfbfbf;
    font-size:14px;
  }


  &-menu {
    &-item-group {
      &-header {
        display:block;
        box-sizing:border-box;
        margin:0;
        padding:6px 10px;
        overflow:hidden;
        color:#bfbfbf;
        font-size:12px;
        text-align:left;
        line-height:22px;
      }

      &-body {
        display:block;
        box-sizing:border-box;
        margin:0;
        padding:0;
      }
    }

    &-item {
      position:relative;
      cursor:pointer;
      display:flex;
      justify-content:flex-start;
      align-items:center;
      box-sizing:border-box;
      margin:0;
      padding:6px 10px;
      color:#595959;
      font-size:14px;
      line-height:22px;
      transition:all 0.2s;

      &-content {
        flex:1;
        display:block;
        box-sizing:border-box;
        
        .writeEllipsis;
      }

      &-icon {
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing:border-box;
        margin-left:4px;
        font-size:12px;

        svg {
          width:1em;
          height:1em;
          fill:currentColor;
        }
      }

      &-actived {
        background-color:#fafafa;
      }

      &-actived &-content {
        
      }

      &-actived &-icon {
        
      }

      &-selected {
        background-color:#e6f7ff;
        color:#2d8cf0;
      }

      &-selected &-content {
        
      }

      &-selected &-icon {

      }

      &-disabled {
        cursor:not-allowed;
        background-color:#fff;
        color:#bfbfbf;
      }

      &-disabled &-content {
        
      }

      &-disabled &-icon {

      }
    }
    
    &-item-group &-item {
      padding-left:20px;
    }
  }
}