@vui-space: ~"@{vui}-space";

.@{vui-space} {
	display:inline-flex;

	&-horizontal {
		flex-direction:row;
	}
	&-vertical {
		flex-direction:column;
	}

	&-start {
		align-items:flex-start;
	}
	&-center {
		align-items:center;
	}
	&-end {
		align-items:flex-end;
	}
}
