@vui-statistic: ~"@{vui}-statistic";

.@{vui-statistic} {
	box-sizing:border-box;
	line-height:@statistic-line-height;

	&-header {
		display:flex;
		align-items:center; 
		margin-bottom:@statistic-header-margin-bottom;
	}

	&-body {
		display:flex;
		align-items:flex-end;
		color:@statistic-body-color;
		font-size:@statistic-body-font-size;
		font-family:@statistic-body-font-family;
		line-height:1;
	}

	&-footer {
		margin-top:@statistic-footer-margin-top;

		.clearfix;
	}

	&-title {
		flex:1;
		overflow:hidden;
		color:@statistic-title-color;
		font-size:@statistic-title-font-size;
		white-space:nowrap;
		text-overflow:ellipsis;
	}

	&-extra {
		margin-left:10px;
		color:@statistic-extra-color;
		font-size:@statistic-extra-font-size;
	}

	&-prefix {
		display:inline-block;
		margin-right:@statistic-prefix-margin-right;
		vertical-align:bottom;
		font-size:@statistic-prefix-font-size;

		.@{vui}-icon {
			display:block;
		}
	}

	&-suffix {
		display:inline-block;
		margin-left:@statistic-suffix-margin-left;
		vertical-align:bottom;
		font-size:@statistic-suffix-font-size;

		.@{vui}-icon {
			display:block;
		}
	}

	&-value {
		display:flex;
		align-items:flex-end;
		cursor:inherit;
		display:inline-block;
		vertical-align:bottom;

		big {
			display:inline-block;
			vertical-align:bottom;
			font-size:inherit;
		}
		small {
			display:inline-block;
			vertical-align:bottom;
			font-size:@statistic-suffix-font-size;
		}
	}
}
