.vui-steps-item { position:relative; }
.vui-steps-item-content {  }
.vui-steps-item-title { font-size:16px; white-space:nowrap; text-overflow:ellipsis; transition:all 0.2s; }
.vui-steps-item-icon { box-sizing:border-box; width:28px; height:28px; border:1px solid transparent; border-radius:50%; font-size:14px; text-align:center; line-height:26px; transition:all 0.2s; }
.vui-steps-item-custom-icon { box-sizing:border-box; width:28px; height:28px; font-size:24px; text-align:center; line-height:28px; transition:all 0.2s; }
.vui-steps-item-dot { box-sizing:border-box; width:10px; height:10px;  border-radius:50%; transition:all 0.2s; }
.vui-steps-item-description { font-size:14px; transition:all 0.2s; }
.vui-steps-item-separator { position:absolute; transition:all 0.2s; }
.vui-steps-small .vui-steps-item {  }
.vui-steps-small .vui-steps-item-content {  }
.vui-steps-small .vui-steps-item-title { font-size:14px; }
.vui-steps-small .vui-steps-item-icon { width:24px; height:24px; font-size:12px; line-height:22px; }
.vui-steps-small .vui-steps-item-custom-icon { width:24px; height:24px; font-size:20px; line-height:24px; }
.vui-steps-small .vui-steps-item-dot { width:8px; height:8px; }
.vui-steps-small .vui-steps-item-description {  }
.vui-steps-small .vui-steps-item-separator {  }


.vui-steps-horizontal { display:flex; align-items:flex-start; }
.vui-steps-horizontal .vui-steps-item { flex:1; }
.vui-steps-horizontal .vui-steps-item:last-child { flex:none; }
.vui-steps-horizontal .vui-steps-item-content { width:140px; }
.vui-steps-horizontal .vui-steps-item-title { margin-bottom:8px; text-align:center; line-height:1.42857143; }
.vui-steps-horizontal .vui-steps-item-icon { margin-left:auto; margin-right:auto; }
.vui-steps-horizontal .vui-steps-item-custom-icon { margin-left:auto; margin-right:auto; }
.vui-steps-horizontal .vui-steps-item-dot { margin-left:auto; margin-right:auto; }
.vui-steps-horizontal .vui-steps-item-description { margin-top:8px; text-align:center; line-height:1.42857143; }
.vui-steps-horizontal .vui-steps-item-separator {  }
.vui-steps-horizontal.vui-steps-small {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item:last-child {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-content {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-title {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-icon {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-custom-icon {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-dot {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-description {  }
.vui-steps-horizontal.vui-steps-small .vui-steps-item-separator {  }


.vui-steps-default.vui-steps-horizontal .vui-steps-item-separator { top:44px; left:94px; width:calc(100% - 48px); height:1px; }
.vui-steps-default.vui-steps-horizontal.vui-steps-small .vui-steps-item-separator { top:40px; left:92px; width:calc(100% - 44px); }

.vui-steps-dot.vui-steps-horizontal .vui-steps-item-separator { top:34px; left:85px; width:calc(100% - 30px); height:2px; }
.vui-steps-dot.vui-steps-horizontal.vui-steps-small .vui-steps-item-separator { top:31px; left:84px; width:calc(100% - 28px); }


.vui-steps-vertical {  }
.vui-steps-vertical .vui-steps-item { min-height:52px; }
.vui-steps-vertical .vui-steps-item-content { position:relative; }
.vui-steps-vertical .vui-steps-item-title { line-height:28px; }
.vui-steps-vertical .vui-steps-item-icon { position:absolute; top:0; left:0; }
.vui-steps-vertical .vui-steps-item-custom-icon { position:absolute; top:0; left:0; }
.vui-steps-vertical .vui-steps-item-dot { position:absolute; top:9px; left:0; }
.vui-steps-vertical .vui-steps-item-description { margin-top:4px; padding-bottom:12px; line-height:1.42857143; }
.vui-steps-vertical .vui-steps-item-separator {  }
.vui-steps-vertical.vui-steps-small {  }
.vui-steps-vertical.vui-steps-small .vui-steps-item { min-height:48px; }
.vui-steps-vertical.vui-steps-small .vui-steps-item-content {  }
.vui-steps-vertical.vui-steps-small .vui-steps-item-title { line-height:24px; }
.vui-steps-vertical.vui-steps-small .vui-steps-item-icon {  }
.vui-steps-vertical.vui-steps-small .vui-steps-item-custom-icon {  }
.vui-steps-vertical.vui-steps-small .vui-steps-item-dot { top:8px; }
.vui-steps-vertical.vui-steps-small .vui-steps-item-description {  }
.vui-steps-vertical.vui-steps-small .vui-steps-item-separator {  }


.vui-steps-default.vui-steps-vertical .vui-steps-item-content { padding-left:44px; }
.vui-steps-default.vui-steps-vertical .vui-steps-item-separator { left:14px; top:38px; bottom:10px; width:1px; }
.vui-steps-default.vui-steps-vertical.vui-steps-small .vui-steps-item-content { padding-left:40px; }
.vui-steps-default.vui-steps-vertical.vui-steps-small .vui-steps-item-separator { left:12px; top:34px; bottom:10px; }

.vui-steps-dot.vui-steps-vertical .vui-steps-item-content { padding-left:26px; }
.vui-steps-dot.vui-steps-vertical .vui-steps-item-separator { left:4px; top:29px; bottom:1px; width:2px; }
.vui-steps-dot.vui-steps-vertical.vui-steps-small .vui-steps-item-content { padding-left:24px; }
.vui-steps-dot.vui-steps-vertical.vui-steps-small .vui-steps-item-separator { left:3px; top:26px; bottom:2px; }


.vui-steps-item-wait .vui-steps-item-title { color:#8c8c8c; }
.vui-steps-item-wait .vui-steps-item-icon { border-color:#bfbfbf; color:#bfbfbf; }
.vui-steps-item-wait .vui-steps-item-custom-icon { color:#bfbfbf; }
.vui-steps-item-wait .vui-steps-item-dot { background-color:#bfbfbf; }
.vui-steps-item-wait .vui-steps-item-description { color:#bfbfbf; }


.vui-steps-item-process .vui-steps-item-title { color:#262626; }
.vui-steps-item-process .vui-steps-item-icon { border-color:#2d8cf0; background-color:#2d8cf0; color:#fff; }
.vui-steps-item-process .vui-steps-item-custom-icon { color:#2d8cf0; }
.vui-steps-item-process .vui-steps-item-dot { background-color:#2d8cf0; }
.vui-steps-item-process .vui-steps-item-description { color:#595959; }


.vui-steps-item-finish .vui-steps-item-title { color:#595959; }
.vui-steps-item-finish .vui-steps-item-icon { border-color:#2d8cf0; color:#2d8cf0; }
.vui-steps-item-finish .vui-steps-item-custom-icon { color:#2d8cf0; }
.vui-steps-item-finish .vui-steps-item-dot { background-color:#2d8cf0; }
.vui-steps-item-finish .vui-steps-item-description { color:#8c8c8c; }


.vui-steps-item-error .vui-steps-item-title { color:#ed5565; }
.vui-steps-item-error .vui-steps-item-icon { border-color:#ed5565; color:#ed5565; }
.vui-steps-item-error .vui-steps-item-custom-icon { color:#ed5565; }
.vui-steps-item-error .vui-steps-item-dot { background-color:#ed5565; }
.vui-steps-item-error .vui-steps-item-description { color:#ed5565; }


.vui-steps-item-next-wait .vui-steps-item-separator { background-color:#e0e0e0; }
.vui-steps-item-next-process .vui-steps-item-separator { background-color:#2d8cf0; }
.vui-steps-item-next-finish .vui-steps-item-separator { background-color:#2d8cf0; }
.vui-steps-item-next-error .vui-steps-item-separator { background-color:#ed5565; }

