@vui-table: ~"@{vui}-table";

@keyframes vuiTableColumnFilterDropdownSlideIn {
	0% { opacity:0; transform:scaleY(0.8); }
	100% { opacity:1; transform:scaleY(1); }
}
@keyframes vuiTableColumnFilterDropdownSlideOut {
	0% { opacity:1; transform:scaleY(1); }
	100% { opacity:0; transform:scaleY(0.8); }
}

/* table wrapper */
.vui-table-wrapper { position:relative; overflow:hidden; }
.vui-table-wrapper.vui-table-wrapper-bordered:before,
.vui-table-wrapper.vui-table-wrapper-bordered:after { position:absolute; top:0; bottom:0; left:0; right:0; z-index:2; content:""; pointer-events:none; }
.vui-table-wrapper.vui-table-wrapper-bordered:before { border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; }
.vui-table-wrapper.vui-table-wrapper-bordered:after { border-left:1px solid #e8e8e8; border-right:1px solid #e8e8e8; }

/* table */
.vui-table { position:relative; z-index:1; width:100%; background-color:#fff; }

.vui-table-header { position:relative; background-color:#f9f9f9; overflow:hidden; }
.vui-table-header .vui-table-header-scrollbar { width:100%; height:100%; overflow:hidden; }
.vui-table-header table { table-layout:fixed; min-width:100%; border-collapse:separate; }
.vui-table-header th { box-sizing:border-box; padding:10px 10px; font-weight:400; text-align:left; white-space:normal; word-break:break-all; word-wrap:break-word; hyphens:auto; transition:background-color 0.2s; }
.vui-table-header th.vui-table-column-align-left { text-align:left; }
.vui-table-header th.vui-table-column-align-center { text-align:center; }
.vui-table-header th.vui-table-column-align-right { text-align:right; }
.vui-table-header th.vui-table-column-ellipsis { overflow:hidden; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis; }
.vui-table-header th.vui-table-column-with-collapsion {  }
.vui-table-header th.vui-table-column-with-selection {  }
.vui-table-header th.vui-table-column-with-sorter { cursor:pointer; user-select:none; }
.vui-table-header th.vui-table-column-with-filter { position:relative; padding-right:30px; user-select:none; }
.vui-table-header th.vui-table-column-hidden { visibility:hidden; }

.vui-table-body { position:relative; background-color:#fff; overflow:hidden; }
.vui-table-body .vui-table-body-scrollbar { width:100%; height:100%; overflow:hidden; }
.vui-table-body table { table-layout:fixed; min-width:100%; border-collapse:separate; }
.vui-table-body td { box-sizing:border-box; padding:10px 10px; font-weight:400; text-align:left; white-space:normal; word-break:break-all; word-wrap:break-word; hyphens:auto; transition:background-color 0.2s; }
.vui-table-body td.vui-table-column-align-left { text-align:left; }
.vui-table-body td.vui-table-column-align-center { text-align:center; }
.vui-table-body td.vui-table-column-align-right { text-align:right; }
.vui-table-body td.vui-table-column-ellipsis { overflow:hidden; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis; }
.vui-table-body td.vui-table-column-with-collapsion {  }
.vui-table-body td.vui-table-column-with-selection {  }
.vui-table-body td.vui-table-column-with-sorter {  }
.vui-table-body td.vui-table-column-with-filter {  }
.vui-table-body td.vui-table-column-hidden { visibility:hidden; }

.vui-table-column-title { display:inline-block; vertical-align:middle; color:#333; }

.vui-table-column-collapsion { cursor:pointer; display:inline-block; box-sizing:border-box; width:16px; height:16px; border:1px solid #e0e0e0; border-radius:2px; background-color:#fff; vertical-align:middle; color:#666; font-size:14px; text-align:center; line-height:14px; user-select:none; transition:border-color 0.2s, color 0.2s; }
.vui-table-column-collapsion:hover { border-color:#cacaca; }

.vui-table-column-sorter { display:inline-block; width:8px; height:10px; margin-left:10px; vertical-align:middle; }
.vui-table-column-sorter-caret { cursor:pointer; display:block; width:0; height:0; border-style:solid; }
.vui-table-column-sorter-caret.vui-table-column-sorter-caret-asc { border-width:0 4px 4px 4px; border-color:transparent; margin-bottom:2px; transition:border-color 0.2s; }
.vui-table-column-sorter-caret.vui-table-column-sorter-caret-asc.on { border-bottom-color:#2d8cf0; }
.vui-table-column-sorter-caret.vui-table-column-sorter-caret-asc.off { border-bottom-color:#c0c4cc; }
.vui-table-column-sorter-caret.vui-table-column-sorter-caret-desc { border-width:4px 4px 0 4px; border-color:transparent; margin-top:2px; transition:border-color 0.2s; }
.vui-table-column-sorter-caret.vui-table-column-sorter-caret-desc.on { border-top-color:#2d8cf0; }
.vui-table-column-sorter-caret.vui-table-column-sorter-caret-desc.off { border-top-color:#c0c4cc; }

.vui-table-column-filter { position:absolute; top:0; bottom:0; right:0; cursor:pointer; width:30px; }
.vui-table-column-filter-trigger { position:relative; width:100%; height:100%; overflow:hidden; color:#c0c4cc; transition:background-color 0.2s, color 0.2s; }
.vui-table-column-filter-trigger svg { position:absolute; top:50%; left:50%; width:10px; height:10px; transform:translate(-50%, -50%); overflow:hidden; fill:currentColor; }
.vui-table-column-filter-trigger:hover { background-color:#f1f1f1; color:#666; }
.vui-table-column-filter-trigger:hover svg {  }
.vui-table-column-filter-trigger.open { background-color:#f1f1f1; color:#666; }
.vui-table-column-filter-trigger.open svg {  }
.vui-table-column-filter-trigger.on { color:#2d8cf0; }
.vui-table-column-filter-trigger.on svg {  }
.vui-table-column-filter-dropdown { position:absolute; top:0; left:0; box-sizing:border-box; min-width:100px; border-radius:@border-radius; background-color:@background-color; box-shadow:@box-shadow; margin:1px 0; overflow:hidden; }
.vui-table-column-filter-dropdown[data-placement^="top"] { transform-origin:center bottom; }
.vui-table-column-filter-dropdown[data-placement^="bottom"] { transform-origin:center top; }
.vui-table-column-filter-dropdown .vui-table-column-filter-dropdown-body { max-height:284px; padding:5px 0; overflow:auto; }
.vui-table-column-filter-dropdown .vui-table-column-filter-dropdown-footer { border-top:@border; padding:10px; text-align:right; }
.vui-table-column-filter-dropdown .vui-table-column-filter-dropdown-footer a { cursor:pointer; display:inline-block; margin-left:10px; vertical-align:middle; color:#666; transition:color 0.2s; }
.vui-table-column-filter-dropdown .vui-table-column-filter-dropdown-footer a:hover { color:#2d8cf0; }
.vui-table-column-filter-dropdown .vui-checkbox-group { display:block; }
.vui-table-column-filter-dropdown .vui-checkbox { cursor:pointer; display:block; height:34px; margin:0; padding:0 10px; line-height:34px; transition:background-color 0.2s, color 0.2s; }
.vui-table-column-filter-dropdown .vui-checkbox:hover { background-color:#ecf5ff; }
.vui-table-column-filter-dropdown .vui-checkbox.is-checked { background-color:#ecf5ff; color:#2d8cf0 !important; }
.vui-table-column-filter-dropdown .vui-radio-group { display:block; }
.vui-table-column-filter-dropdown .vui-radio { cursor:pointer; display:block; height:34px; margin:0; padding:0 10px; line-height:34px; transition:background-color 0.2s, color 0.2s; }
.vui-table-column-filter-dropdown .vui-radio:hover { background-color:#ecf5ff; }
.vui-table-column-filter-dropdown .vui-radio.is-checked { background-color:#ecf5ff; color:#2d8cf0 !important; }

.vui-table-column-filter-dropdown-slide-enter-active { animation:vuiTableColumnFilterDropdownSlideIn @animation-in-duration @animation-in-timing-function both; }
.vui-table-column-filter-dropdown-slide-leave-active { animation:vuiTableColumnFilterDropdownSlideOut @animation-out-duration @animation-out-timing-function both; }

/* fixed table */
.vui-table-left { position:absolute; top:0; left:0; z-index:1; width:0; }
.vui-table-left:after { content:""; position:absolute; right:0; top:0; bottom:0; z-index:1; width:1px; background:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.1)); background:#e8e8e8; transition:right 0.2s, width 0.2s; }
.vui-table-left .vui-table-header table { float:left; }
.vui-table-left .vui-table-body table { float:left; }

.vui-table-middle { position:relative; }
.vui-table-middle .vui-table-header table { float:none; }
.vui-table-middle .vui-table-body table { float:none; }

.vui-table-right { position:absolute; top:0; right:0; z-index:1; width:0; }
.vui-table-right:before { content:""; position:absolute; left:-1px; top:0; bottom:0; z-index:1; width:1px; background:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1)); background:#e8e8e8; transition:left 0.2s, width 0.2s; }
.vui-table-right .vui-table-header table { float:right; }
.vui-table-right .vui-table-body table { float:right; }

/* bordered table */
.vui-table {  }
.vui-table .vui-table-header { border-bottom:1px solid #e8e8e8; }
.vui-table .vui-table-header th {  }
.vui-table .vui-table-body {  }
.vui-table .vui-table-body td { border-bottom:1px solid #e8e8e8; }

.vui-table-bordered {  }
.vui-table-bordered .vui-table-header { border-bottom:none; }
.vui-table-bordered .vui-table-header th { border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; }
.vui-table-bordered .vui-table-body {  }
.vui-table-bordered .vui-table-body td { border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; }

/* striped table */
.vui-table-striped .vui-table-body tr.vui-table-row-even td {  }
.vui-table-striped .vui-table-body tr.vui-table-row-even + tr.vui-table-row-collapsed {  }
.vui-table-striped .vui-table-body tr.vui-table-row-odd td { background-color:#f9f9f9; }
.vui-table-striped .vui-table-body tr.vui-table-row-odd + tr.vui-table-row-collapsed td { background-color:#f9f9f9; }

/* hovered table */
.vui-table .vui-table-body tr.vui-table-row-hovered td { background-color:#e6f7ff; }
