@vui-tabs: ~"@{vui}-tabs";


.vui-tabs { box-sizing:border-box; margin:0; padding:0; overflow:hidden; }

.vui-tabs-header { position:relative; z-index:2; display:flex; border-bottom:1px solid #f0f0f0; margin-bottom:15px; }
.vui-tabs-header-content { flex:1 1 auto; display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:flex-start; align-items:center; width:0; margin-bottom:-1px; overflow:hidden; }

.vui-tab-trigger { position:relative; cursor:pointer; flex-grow:0; flex-shrink:1; display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:flex-start; align-items:center; box-sizing:border-box; overflow:hidden; transition:all 0.2s; }
.vui-tab-trigger .vui-tab-trigger-content { flex-shrink:1; display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:flex-start; align-items:center; overflow:hidden; color:#595959; line-height:1; white-space:nowrap; text-overflow:ellipsis; transition:all 0.2s; }
.vui-tab-trigger .vui-tab-trigger-icon {  }
.vui-tab-trigger .vui-tab-trigger-title {  }
.vui-tab-trigger .vui-tab-trigger-btn-close { flex-shrink:0; cursor:pointer; color:#bfbfbf; line-height:1; transition:all 0.2s; }
.vui-tab-trigger .vui-tab-trigger-btn-close svg { display:block; fill:currentColor; }
.vui-tab-trigger:hover {  }
.vui-tab-trigger:hover .vui-tab-trigger-content { color:#4298f2; }
.vui-tab-trigger:hover .vui-tab-trigger-icon {  }
.vui-tab-trigger:hover .vui-tab-trigger-title {  }
.vui-tab-trigger:hover .vui-tab-trigger-btn-close { color:#595959; }
.vui-tab-trigger:hover .vui-tab-trigger-btn-close svg {  }
.vui-tab-trigger:active {  }
.vui-tab-trigger:active .vui-tab-trigger-content { color:#297ed8; }
.vui-tab-trigger:active .vui-tab-trigger-icon {  }
.vui-tab-trigger:active .vui-tab-trigger-title {  }
.vui-tab-trigger:active .vui-tab-trigger-btn-close {  }
.vui-tab-trigger:active .vui-tab-trigger-btn-close svg {  }
.vui-tab-trigger.vui-tab-trigger-active {  }
.vui-tab-trigger.vui-tab-trigger-active .vui-tab-trigger-content { color:#2d8cf0; }
.vui-tab-trigger.vui-tab-trigger-active .vui-tab-trigger-icon {  }
.vui-tab-trigger.vui-tab-trigger-active .vui-tab-trigger-title {  }
.vui-tab-trigger.vui-tab-trigger-active .vui-tab-trigger-btn-close {  }
.vui-tab-trigger.vui-tab-trigger-active .vui-tab-trigger-btn-close svg {  }
.vui-tab-trigger.vui-tab-trigger-disabled { cursor:not-allowed; }
.vui-tab-trigger.vui-tab-trigger-disabled .vui-tab-trigger-content { color:#bfbfbf; }
.vui-tab-trigger.vui-tab-trigger-disabled .vui-tab-trigger-icon {  }
.vui-tab-trigger.vui-tab-trigger-disabled .vui-tab-trigger-title {  }
.vui-tab-trigger.vui-tab-trigger-disabled .vui-tab-trigger-btn-close {  }
.vui-tab-trigger.vui-tab-trigger-disabled .vui-tab-trigger-btn-close svg {  }

.vui-tabs-body { overflow:hidden; }
.vui-tabs-body-content { display:flex; flex-direction:row; flex-wrap:nowrap; align-items:flex-start; will-change:transform; transition:transform 0.2s; }

.vui-tab-panel { flex-shrink:0; box-sizing:border-box; width:100%; height:0; overflow:hidden; }
.vui-tab-panel .vui-tab-panel-content { box-sizing:border-box; width:100%; color:#595959; font-size:14px; line-height:1.42857142; }
.vui-tab-panel.vui-tab-panel-active { height:auto; overflow:unset; }
.vui-tab-panel.vui-tab-panel-active .vui-tab-panel-content {  }

.vui-tabs-extra {  }

.vui-tabs-btn-add { position:relative; display:block; box-sizing:border-box; border:1px solid #e6e6e6; border-radius:2px; overflow:hidden; color:#595959; transition:all 0.2s; }
.vui-tabs-btn-add svg { position:absolute; top:50%; left:50%; display:block; fill:currentColor; transform:translate(-50%,-50%); }
.vui-tabs-btn-add:hover { border-color:tint(#2d8cf0, 10%); color:tint(#2d8cf0, 10%); }
.vui-tabs-btn-add:hover svg {  }
.vui-tabs-btn-add:focus { border-color:tint(#2d8cf0, 10%); color:tint(#2d8cf0, 10%); }
.vui-tabs-btn-add:focus svg {  }
.vui-tabs-btn-add:active { border-color:shade(#2d8cf0, 10%); color:shade(#2d8cf0, 10%); }
.vui-tabs-btn-add:active svg {  }
 
// type
.vui-tabs-line {  }
.vui-tabs-line > .vui-tabs-header { align-items:center; }
.vui-tabs-line > .vui-tabs-header .vui-tab-trigger { border-bottom:2px solid transparent; }
.vui-tabs-line > .vui-tabs-header .vui-tab-trigger:last-child {  }
.vui-tabs-line > .vui-tabs-header .vui-tab-trigger.vui-tab-trigger-active { border-bottom-color:#2d8cf0; }

.vui-tabs-card {  }
.vui-tabs-card > .vui-tabs-header { align-items:flex-start; }
.vui-tabs-card > .vui-tabs-header .vui-tab-trigger { border:1px solid #f0f0f0; border-top-left-radius:2px; border-top-right-radius:2px; background-color:#fafafa; margin-right:2px; }
.vui-tabs-card > .vui-tabs-header .vui-tab-trigger:last-child { margin-right:0; }
.vui-tabs-card > .vui-tabs-header .vui-tab-trigger.vui-tab-trigger-active { border-bottom-color:#fff; background-color:#fff; }


// size
.vui-tabs-small {  }
.vui-tabs-small > .vui-tabs-header {  }
.vui-tabs-small > .vui-tabs-header .vui-tab-trigger { height:34px; padding:0 14px; }
.vui-tabs-small > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-content { font-size:12px; }
.vui-tabs-small > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-icon { margin-right:6px; }
.vui-tabs-small > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-btn-close { margin-left:6px; }
.vui-tabs-small > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-btn-close svg { width:8px; height:8px; }
.vui-tabs-small > .vui-tabs-header .vui-tabs-extra { margin-left:10px; }
.vui-tabs-small > .vui-tabs-header .vui-tabs-btn-add { width:20px; height:20px; }
.vui-tabs-small > .vui-tabs-header .vui-tabs-btn-add svg { width:8px; height:8px; }

.vui-tabs-medium {  }
.vui-tabs-medium > .vui-tabs-header {  }
.vui-tabs-medium > .vui-tabs-header .vui-tab-trigger { height:44px; padding:0 18px; }
.vui-tabs-medium > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-content { font-size:14px; }
.vui-tabs-medium > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-icon { margin-right:8px; }
.vui-tabs-medium > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-btn-close { margin-left:8px; }
.vui-tabs-medium > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-btn-close svg { width:10px; height:10px; }
.vui-tabs-medium > .vui-tabs-header .vui-tabs-extra { margin-left:14px; }
.vui-tabs-medium > .vui-tabs-header .vui-tabs-btn-add { width:24px; height:24px; }
.vui-tabs-medium > .vui-tabs-header .vui-tabs-btn-add svg { width:10px; height:10px; }

.vui-tabs-large {  }
.vui-tabs-large > .vui-tabs-header {  }
.vui-tabs-large > .vui-tabs-header .vui-tab-trigger { height:54px; padding:0 22px; }
.vui-tabs-large > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-content { font-size:16px; }
.vui-tabs-large > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-icon { margin-right:10px; }
.vui-tabs-large > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-btn-close { margin-left:10px; }
.vui-tabs-large > .vui-tabs-header .vui-tab-trigger .vui-tab-trigger-btn-close svg { width:12px; height:12px; }
.vui-tabs-large > .vui-tabs-header .vui-tabs-extra { margin-left:16px; }
.vui-tabs-large > .vui-tabs-header .vui-tabs-btn-add { width:30px; height:30px; }
.vui-tabs-large > .vui-tabs-header .vui-tabs-btn-add svg { width:12px; height:12px; }

