@vui-tag: ~"@{vui}-tag";


// vui-tag
.vui-tag { cursor:default; display:inline-block; box-sizing:border-box; height:24px; border-width:1px; border-style:solid; border-radius:2px; margin:0; padding:0 6px; overflow:hidden; vertical-align:middle; font-size:12px; line-height:22px; white-space:nowrap; transition:all 0.2s; }
.vui-tag .vui-tag-btn-close { cursor:pointer; margin-left:6px; transition:all 0.2s; }
.vui-tag:hover { opacity:1; }
.vui-tag:hover .vui-tag-btn-close {  }

// vui-tag color
.vui-tag.vui-tag-default { border-color:#e0e0e0; background-color:#f6f6f6; color:#666; }
.vui-tag.vui-tag-primary { border-color:#2d8cf0; background-color:#2d8cf0; color:#fff; }
.vui-tag.vui-tag-info { border-color:#5bc0de; background-color:#5bc0de; color:#fff; }
.vui-tag.vui-tag-warning { border-color:#f0ad4e; background-color:#f0ad4e; color:#fff; }
.vui-tag.vui-tag-success { border-color:#5cb85c; background-color:#5cb85c; color:#fff; }
.vui-tag.vui-tag-error { border-color:#ed5565; background-color:#ed5565; color:#fff; }
.vui-tag.vui-tag-magenta { border-color:#f6a1d0; background-color:#fef4fa; color:#eb2f96; }
.vui-tag.vui-tag-red { border-color:#ff8c8c; background-color:#fff2f2; color:#ff0000; }
.vui-tag.vui-tag-volcano { border-color:#fdb299; background-color:#fff6f3; color:#fa541c; }
.vui-tag.vui-tag-orange { border-color:#fdcb96; background-color:#fff9f3; color:#fa8c16; }
.vui-tag.vui-tag-gold { border-color:#fdda95; background-color:#fffbf3; color:#faad14; }
.vui-tag.vui-tag-lime { border-color:#d4ee94; background-color:#fafdf3; color:#a0d911; }
.vui-tag.vui-tag-green { border-color:#b1e498; background-color:#f6fcf3; color:#52c41a; }
.vui-tag.vui-tag-cyan { border-color:#95e3e3; background-color:#f3fcfc; color:#13c2c2; }
.vui-tag.vui-tag-blue { border-color:#97cdff; background-color:#f3f9ff; color:#1890ff; }
.vui-tag.vui-tag-geekblue { border-color:#a1b2f6; background-color:#f4f6fe; color:#2f54eb; }
.vui-tag.vui-tag-purple { border-color:#bfa1ea; background-color:#f8f4fd; color:#722ed1; }


// vui-tag-checkable
.vui-tag-checkable { cursor:pointer; border-color:transparent; background-color:transparent; color:#666; user-select:none; }
.vui-tag-checkable .vui-tag-btn-close {  }
.vui-tag-checkable:hover { opacity:0.9; }
.vui-tag-checkable:hover .vui-tag-btn-close {  }

// vui-tag-checkable color
.vui-tag-checkable.vui-tag-default { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-primary { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-info { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-warning { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-success { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-error { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-magenta { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-red { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-volcano { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-orange { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-gold { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-lime { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-green { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-cyan { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-blue { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-geekblue { border-color:transparent; background-color:transparent; color:#666; }
.vui-tag-checkable.vui-tag-purple { border-color:transparent; background-color:transparent; color:#666; }

// vui-tag-checkable checked color
.vui-tag-checkable.vui-tag-checked.vui-tag-default { border-color:#e0e0e0; background-color:#f9f9f9; color:#666; }
.vui-tag-checkable.vui-tag-checked.vui-tag-primary { border-color:#2d8cf0; background-color:#2d8cf0; color:#fff; }
.vui-tag-checkable.vui-tag-checked.vui-tag-info { border-color:#5bc0de; background-color:#5bc0de; color:#fff; }
.vui-tag-checkable.vui-tag-checked.vui-tag-warning { border-color:#f0ad4e; background-color:#f0ad4e; color:#fff; }
.vui-tag-checkable.vui-tag-checked.vui-tag-success { border-color:#5cb85c; background-color:#5cb85c; color:#fff; }
.vui-tag-checkable.vui-tag-checked.vui-tag-error { border-color:#ed5565; background-color:#ed5565; color:#fff; }
.vui-tag-checkable.vui-tag-checked.vui-tag-magenta { border-color:#f6a1d0; background-color:#fef4fa; color:#eb2f96; }
.vui-tag-checkable.vui-tag-checked.vui-tag-red { border-color:#ff8c8c; background-color:#fff2f2; color:#ff0000; }
.vui-tag-checkable.vui-tag-checked.vui-tag-volcano { border-color:#fdb299; background-color:#fff6f3; color:#fa541c; }
.vui-tag-checkable.vui-tag-checked.vui-tag-orange { border-color:#fdcb96; background-color:#fff9f3; color:#fa8c16; }
.vui-tag-checkable.vui-tag-checked.vui-tag-gold { border-color:#fdda95; background-color:#fffbf3; color:#faad14; }
.vui-tag-checkable.vui-tag-checked.vui-tag-lime { border-color:#d4ee94; background-color:#fafdf3; color:#a0d911; }
.vui-tag-checkable.vui-tag-checked.vui-tag-green { border-color:#b1e498; background-color:#f6fcf3; color:#52c41a; }
.vui-tag-checkable.vui-tag-checked.vui-tag-cyan { border-color:#95e3e3; background-color:#f3fcfc; color:#13c2c2; }
.vui-tag-checkable.vui-tag-checked.vui-tag-blue { border-color:#97cdff; background-color:#f3f9ff; color:#1890ff; }
.vui-tag-checkable.vui-tag-checked.vui-tag-geekblue { border-color:#a1b2f6; background-color:#f4f6fe; color:#2f54eb; }
.vui-tag-checkable.vui-tag-checked.vui-tag-purple { border-color:#bfa1ea; background-color:#f8f4fd; color:#722ed1; }


// animation
@keyframes vuiTagZoomIn {
	0% { transform:scale(0.5); }
	100% { transform:scale(1); }
}

@keyframes vuiTagZoomOut {
	0% { transform:scale(1); }
	30% { transform:scale(1); }
	100% { transform:scale(0.5); }
}

.vui-tag-zoom-enter-active { animation:vuiTagZoomIn @animation-in-duration @animation-in-timing-function both; }
.vui-tag-zoom-leave-active { animation:vuiTagZoomOut @animation-out-duration @animation-out-timing-function both; }
