// 通用变量 --------------------------------------------------------------------------------

// 前缀
@vui: vui;

// 色彩
@default-color: #e0e0e0;
@primary-color: #2d8cf0;
@info-color: #5bc0de;
@warning-color: #faad14;
@success-color: #52c41a;
@error-color: #ed5565;

@processing-color: #2d8cf0;

@link-color: #2d8cf0;
@link-hover-color: tint(@link-color, 10%);
@link-active-color: shade(@link-color, 10%);

@white: #fff;
@black: #000;

// 字体颜色
@font-primary-color: tint(#000000, 15%);
@font-color: tint(#000000, 35%);
@font-secondary-color: tint(#000000, 55%);
@font-disabled-color: tint(#000000, 75%);
@font-reverse-color: #fff;

// 字体大小
@font-size: 14px;
@font-size-lg: 16px;
@font-size-sm: 12px;

// 字体粗细
@font-weight: 400;
@font-weight-bold: 600;

// 字体
// @font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// 行高
@line-height: 1.42857143;

// Body 背景色
@body-background-color: #fff;

// 组件背景色
@component-background-color: #fff;

// 边框
@border-width: 1px;
@border-style: solid;
@border-color: #e0e0e0;
@border: @border-width @border-style @border-color;

// 圆角
@border-radius: 2px;

// 背景色
@background-color: #fff;

// 阴影
@box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

// 外边距
@margin-xss: 4px;
@margin-xs: 8px;
@margin-sm: 12px;
@margin-md: 16px;
@margin-lg: 20px;

// 内边距
@padding-xss: 4px;
@padding-xs: 8px;
@padding-sm: 12px;
@padding-md: 16px;
@padding-lg: 20px;

// 属性过度
@transition-duration: 0.2s;
@transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

// 动画
@animation-in-duration: 0.2s;
@animation-in-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

@animation-out-duration: 0.2s;
@animation-out-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

// 媒体查询
@screen-xs: 480px;
@screen-sm: 576px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;
@screen-xxl: 1600px;

@screen-xs-min: @screen-xs;
@screen-sm-min: @screen-sm;
@screen-md-min: @screen-md;
@screen-lg-min: @screen-lg;
@screen-xl-min: @screen-xl;
@screen-xxl-min: @screen-xxl;

@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

// 通用组件 --------------------------------------------------------------------------------

// Button
@button-size-sm: 24px;
@button-size-md: 34px;
@button-size-lg: 44px;

@button-font-size-sm: 12px;
@button-font-size-md: 14px;
@button-font-size-lg: 16px;

@button-default-border-color: #e0e0e0;
@button-default-background-color: #fff;
@button-default-font-color: #595959;
@button-default-hover-border-color: tint(#2d8cf0, 10%);
@button-default-hover-background-color: #fff;
@button-default-hover-font-color: tint(#2d8cf0, 10%);
@button-default-active-border-color: shade(#2d8cf0, 10%);
@button-default-active-background-color: #fff;
@button-default-active-font-color: shade(#2d8cf0, 10%);
@button-default-disabled-border-color: #e0e0e0;
@button-default-disabled-background-color: shade(#fff, 3.5%);
@button-default-disabled-font-color: tint(#000, 75%);

@button-primary-border-color: #2d8cf0;
@button-primary-background-color: #2d8cf0;
@button-primary-font-color: #fff;
@button-primary-hover-border-color: tint(#2d8cf0, 10%);
@button-primary-hover-background-color: tint(#2d8cf0, 10%);
@button-primary-hover-font-color: #fff;
@button-primary-active-border-color: shade(#2d8cf0, 10%);
@button-primary-active-background-color: shade(#2d8cf0, 10%);
@button-primary-active-font-color: #fff;
@button-primary-disabled-border-color: #e0e0e0;
@button-primary-disabled-background-color: shade(#fff, 3.5%);
@button-primary-disabled-font-color: tint(#000, 75%);

@button-info-border-color: #5bc0de;
@button-info-background-color: #5bc0de;
@button-info-font-color: #fff;
@button-info-hover-border-color: tint(#5bc0de, 10%);
@button-info-hover-background-color: tint(#5bc0de, 10%);
@button-info-hover-font-color: #fff;
@button-info-active-border-color: shade(#5bc0de, 10%);
@button-info-active-background-color: shade(#5bc0de, 10%);
@button-info-active-font-color: #fff;
@button-info-disabled-border-color: #e0e0e0;
@button-info-disabled-background-color: shade(#fff, 3.5%);
@button-info-disabled-font-color: tint(#000, 75%);

@button-warning-border-color: #faad14;
@button-warning-background-color: #faad14;
@button-warning-font-color: #fff;
@button-warning-hover-border-color: tint(#faad14, 10%);
@button-warning-hover-background-color: tint(#faad14, 10%);
@button-warning-hover-font-color: #fff;
@button-warning-active-border-color: shade(#faad14, 10%);
@button-warning-active-background-color: shade(#faad14, 10%);
@button-warning-active-font-color: #fff;
@button-warning-disabled-border-color: #e0e0e0;
@button-warning-disabled-background-color: shade(#fff, 3.5%);
@button-warning-disabled-font-color: tint(#000, 75%);

@button-success-border-color: #52c41a;
@button-success-background-color: #52c41a;
@button-success-font-color: #fff;
@button-success-hover-border-color: tint(#52c41a, 10%);
@button-success-hover-background-color: tint(#52c41a, 10%);
@button-success-hover-font-color: #fff;
@button-success-active-border-color: shade(#52c41a, 10%);
@button-success-active-background-color: shade(#52c41a, 10%);
@button-success-active-font-color: #fff;
@button-success-disabled-border-color: #e0e0e0;
@button-success-disabled-background-color: shade(#fff, 3.5%);
@button-success-disabled-font-color: tint(#000, 75%);

@button-error-border-color: #ed5565;
@button-error-background-color: #ed5565;
@button-error-font-color: #fff;
@button-error-hover-border-color: tint(#ed5565, 10%);
@button-error-hover-background-color: tint(#ed5565, 10%);
@button-error-hover-font-color: #fff;
@button-error-active-border-color: shade(#ed5565, 10%);
@button-error-active-background-color: shade(#ed5565, 10%);
@button-error-active-font-color: #fff;
@button-error-disabled-border-color: #e0e0e0;
@button-error-disabled-background-color: shade(#fff, 3.5%);
@button-error-disabled-font-color: tint(#000, 75%);

@button-dashed-border-color: #e0e0e0;
@button-dashed-background-color: #fff;
@button-dashed-font-color: #666;
@button-dashed-hover-border-color: tint(#2d8cf0, 10%);
@button-dashed-hover-background-color: #fff;
@button-dashed-hover-font-color: tint(#2d8cf0, 10%);
@button-dashed-active-border-color: shade(#2d8cf0, 10%);
@button-dashed-active-background-color: #fff;
@button-dashed-active-font-color: shade(#2d8cf0, 10%);
@button-dashed-disabled-border-color: #e0e0e0;
@button-dashed-disabled-background-color: shade(#fff, 3.5%);
@button-dashed-disabled-font-color: tint(#000, 75%);

@button-text-border-color: transparent;
@button-text-background-color: transparent;
@button-text-font-color: #666;
@button-text-hover-border-color: transparent;
@button-text-hover-background-color: transparent;
@button-text-hover-font-color: tint(#2d8cf0, 10%);
@button-text-active-border-color: transparent;
@button-text-active-background-color: transparent;
@button-text-active-font-color: shade(#2d8cf0, 10%);
@button-text-disabled-border-color: transparent;
@button-text-disabled-background-color: transparent;
@button-text-disabled-font-color: tint(#000, 75%);

// 布局组件 --------------------------------------------------------------------------------

// Divider
@divider-color: rgba(0, 0, 0, 0.06);
@divider-horizontal-gutter: 20px;
@divider-vertical-gutter: 10px;
@divider-text-font-color: @font-primary-color;
@divider-text-font-size: @font-size;

// Layout
@layout-background-color: #f4f6f8;

@layout-header-height: 64px;
@layout-header-padding: 0 48px;
@layout-header-light-background-color: #fff;
@layout-header-dark-background-color: #1a2035;

@layout-sider-light-background-color: #fff;
@layout-sider-dark-background-color: #1a2035;
@layout-sider-trigger-height: 48px;
@layout-sider-trigger-padding: 0 20px;
@layout-sider-trigger-font-size: 14px;

@layout-footer-padding: 24px 48px;
@layout-footer-font-color: @font-color;
@layout-footer-font-size: @font-size;
@layout-footer-line-height: @line-height;

// Space
@space-size-sm: 8px;
@space-size-md: 16px;
@space-size-lg: 24px;
@space-with-divider-size-sm: 8px;
@space-with-divider-size-md: 12px;
@space-with-divider-size-lg: 16px;
@space-divider-width: 1px;
@space-divider-height: @font-size;

// 导航组件 --------------------------------------------------------------------------------

// Affix
@affix-zIndex: 10;

// Breadcrumb
@breadcrumb-font-size: @font-size;
@breadcrumb-line-height: @line-height;
@breadcrumb-item-color: @font-secondary-color;
@breadcrumb-last-item-color: @font-color;
@breadcrumb-item-hover-color: @link-hover-color;
@breadcrumb-item-active-color: @link-active-color;
@breadcrumb-item-icon-margin-right: 4px;
@breadcrumb-item-separator-margin: 0 8px;
@breadcrumb-item-separator-color: @border-color;

// Menu
@menu-collapsed-width: 80px;
@menu-line-height: 48px;
@menu-light-background-color: #fff;
@menu-dark-background-color: #1a2035;

// PageHeader
@page-header-background-color: #fff;
@page-header-padding: 20px;
@page-header-header-margin-top: 16px;
@page-header-body-margin-top: 16px;
@page-header-footer-margin-top: 16px;
@page-header-back-color: @font-color;
@page-header-back-hover-color: @link-hover-color;
@page-header-back-active-color: @link-active-color;
@page-header-back-size: @font-size-lg;
@page-header-back-margin-right: 16px;
@page-header-avatar-margin-right: 16px;
@page-header-title-height: 34px;
@page-header-title-margin-right: 16px;
@page-header-title-font-size: 20px;
@page-header-title-font-weight: 600;
@page-header-sub-title-height: 34px;
@page-header-sub-title-margin-right: 16px;
@page-header-sub-title-font-size: 14px;
@page-header-tag-gutter: 8px;

// 数据录入 --------------------------------------------------------------------------------

// Radio
@radio-border-color: @border-color;
@radio-background-color: @component-background-color;
@radio-input-color: @primary-color;
@radio-font-color: @font-color;

@radio-hover-border-color: tint(@primary-color, 10%);

@radio-checked-border-color: @primary-color;

@radio-disabled-border-color: @border-color;
@radio-disabled-background-color: shade(@component-background-color, 3.5%);
@radio-disabled-input-color: shade(@border-color, 10%);
@radio-disabled-font-color: @font-disabled-color;

@radio-size-sm: 14px;
@radio-size-md: 16px;
@radio-size-lg: 18px;

@radio-font-size-sm: 12px;
@radio-font-size-md: 14px;
@radio-font-size-lg: 16px;

// Radio Button
@radio-button-border-color: @border-color;
@radio-button-border-radius: @border-radius;
@radio-button-background-color: @component-background-color;
@radio-button-font-color: @font-color;

@radio-button-hover-font-color: tint(@primary-color, 10%);

@radio-button-checked-border-color: @primary-color;
@radio-button-checked-font-color: @primary-color;

@radio-button-disabled-border-color: @border-color;
@radio-button-disabled-background-color: shade(@component-background-color, 3.5%);
@radio-button-disabled-font-color: @font-disabled-color;

@radio-button-size-sm: 24px;
@radio-button-size-md: 34px;
@radio-button-size-lg: 44px;

@radio-button-font-size-sm: 12px;
@radio-button-font-size-md: 14px;
@radio-button-font-size-lg: 16px;

// Rate
@rate-star-margin-right: @margin-xs;
@rate-star-color: #f0f0f0;
@rate-star-checked-color: @warning-color;
@rate-star-size: 20px;
@rate-star-hover-scale: scale(1.1);

// Checkbox
@vui-checkbox-size-sm: 14px;
@vui-checkbox-size-md: 16px;
@vui-checkbox-size-lg: 18px;

@vui-checkbox-font-size-sm: 12px;
@vui-checkbox-font-size-md: 14px;
@vui-checkbox-font-size-lg: 16px;

@vui-checkbox-border-color: #e0e0e0;
@vui-checkbox-background-color: #fff;
@vui-checkbox-indeterminate-color: #2d8cf0;
@vui-checkbox-input-color: #fff;
@vui-checkbox-font-color: #595959;

@vui-checkbox-hover-border-color: tint(#2d8cf0, 10%);

@vui-checkbox-checked-border-color: #2d8cf0;
@vui-checkbox-checked-background-color: #2d8cf0;

@vui-checkbox-disabled-border-color: #e0e0e0;
@vui-checkbox-disabled-background-color: shade(#fff, 3.5%);
@vui-checkbox-disabled-indeterminate-color: shade(#e0e0e0, 10%);
@vui-checkbox-disabled-input-color: shade(#e0e0e0, 10%);
@vui-checkbox-disabled-font-color: tint(#000, 75%);

// Checkbox Button
@vui-checkbox-button-size-sm: 24px;
@vui-checkbox-button-size-md: 34px;
@vui-checkbox-button-size-lg: 44px;

@vui-checkbox-button-font-size-sm: 12px;
@vui-checkbox-button-font-size-md: 14px;
@vui-checkbox-button-font-size-lg: 16px;

@vui-checkbox-button-border-color: #e0e0e0;
@vui-checkbox-button-background-color: #fff;
@vui-checkbox-button-font-color: #595959;

@vui-checkbox-button-hover-font-color: tint(#2d8cf0, 10%);

@vui-checkbox-button-checked-border-color: #2d8cf0;
@vui-checkbox-button-checked-font-color: #2d8cf0;

@vui-checkbox-button-disabled-border-color: #e0e0e0;
@vui-checkbox-button-disabled-background-color: shade(#fff, 3.5%);
@vui-checkbox-button-disabled-font-color: tint(#000, 75%);

// Switch
@vui-switch-size-sm: 16px;
@vui-switch-size-md: 22px;
@vui-switch-size-lg: 28px;

@vui-switch-font-size-sm: 10px;
@vui-switch-font-size-md: 12px;
@vui-switch-font-size-lg: 14px;

@vui-switch-input-shadow-sm: 0 0 2px 0 fade(#000, 20);
@vui-switch-input-shadow-md: 0 0 4px 0 fade(#000, 20);
@vui-switch-input-shadow-lg: 0 0 6px 0 fade(#000, 20);

@vui-switch-color: #ccc;

@vui-switch-checked-color: #2d8cf0;

// Input 输入框
@input-size: 34px;
@input-size-lg: 44px;
@input-size-sm: 24px;

// 数据展示 --------------------------------------------------------------------------------

// Avatar
@avatar-size-sm: 24px;
@avatar-size-md: 32px;
@avatar-size-lg: 40px;
@avatar-background-color: #ccc;
@avatar-font-color: #fff;
@avatar-shape-circle: 50%;
@avatar-shape-square: 2px;
@avatar-font-size-sm: @avatar-size-sm / 2;
@avatar-font-size-md: @avatar-size-md / 2;
@avatar-font-size-lg: @avatar-size-lg / 2;

// Badge
@badge-dot-size: 6px;
@badge-dot-shadow: 0 0 0 1px #fff;
@badge-count-size: 20px;
@badge-count-shadow: 0 0 0 1px #fff;
@badge-count-font-size: @font-size-sm;

@badge-default-color: @default-color;
@badge-default-font-color: #595959;
@badge-primary-color: @primary-color;
@badge-primary-font-color: #fff;
@badge-info-color: @info-color;
@badge-info-font-color: #fff;
@badge-warning-color: @warning-color;
@badge-warning-font-color: #fff;
@badge-success-color: @success-color;
@badge-success-font-color: #fff;
@badge-error-color: @error-color;
@badge-error-font-color: #fff;

@badge-status-dot-size: 6px;
@badge-status-dot-shadow: 0 0 0 1px #fff;
@badge-status-text-font-size: @font-size;

@badge-status-default-color: @default-color;
@badge-status-default-font-color: #595959;
@badge-status-processing-color: @processing-color;
@badge-status-processing-font-color: #595959;
@badge-status-warning-color: @warning-color;
@badge-status-warning-font-color: #595959;
@badge-status-success-color: @success-color;
@badge-status-success-font-color: #595959;
@badge-status-error-color: @error-color;
@badge-status-error-font-color: #595959;
@badge-status-blue-color: #1890ff;
@badge-status-blue-font-color: #595959;
@badge-status-cyan-color: #13c2c2;
@badge-status-cyan-font-color: #595959;
@badge-status-geekblue-color: #2f54eb;
@badge-status-geekblue-font-color: #595959;
@badge-status-gold-color: #faad14;
@badge-status-gold-font-color: #595959;
@badge-status-green-color: #52c41a;
@badge-status-green-font-color: #595959;
@badge-status-lime-color: #a0d911;
@badge-status-lime-font-color: #595959;
@badge-status-magenta-color: #eb2f96;
@badge-status-magenta-font-color: #595959;
@badge-status-orange-color: #fa8c16;
@badge-status-orange-font-color: #595959;
@badge-status-pink-color: #eb2f96;
@badge-status-pink-font-color: #595959;
@badge-status-purple-color: #722ed1;
@badge-status-purple-font-color: #595959;
@badge-status-red-color: #f5222d;
@badge-status-red-font-color: #595959;
@badge-status-volcano-color: #fa541c;
@badge-status-volcano-font-color: #595959;
@badge-status-yellow-color: #fadb14;
@badge-status-yellow-font-color: #595959;

// Card
@card-border-color: #f0f0f0;
@card-border-radius: @border-radius;
@card-background-color: @component-background-color;
@card-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
@card-font-color: @font-color;
@card-font-size: @font-size;
@card-line-height: @line-height;
@card-header-padding: 16px 20px;
@card-header-font-color: @font-primary-color;
@card-header-font-size: @font-size-lg;
@card-body-padding: 20px;
@card-footer-padding: 20px;
@card-icon-margin-right: 10px;
@card-extra-margin-left: 10px;
@card-extra-font-color: @font-color;
@card-extra-font-size: @font-size;
@card-loading-block-gutter: 8px;
@card-loading-block-height: 14px;
@card-loading-block-border-radius: @border-radius;
@card-loading-block-from-color: #f5f5f5;
@card-loading-block-to-color: #f0f0f0;
@card-grid-padding: 20px;
@card-meta-avatar-margin-right: 16px;
@card-meta-title-font-color: @font-primary-color;
@card-meta-title-font-size: @font-size-lg;
@card-meta-description-margin-top: 8px;
@card-meta-description-font-color: @font-secondary-color;
@card-meta-description-font-size: @font-size;
@card-meta-description-line-clamp: 2;
@card-action-padding: 16px 0;
@card-action-color: @font-secondary-color;
@card-action-hover-color: @link-hover-color;
@card-action-active-color: @link-active-color;
@card-action-font-size: @font-size;
@card-action-divider-width: 1px;
@card-action-divider-height: @card-action-font-size;

// Cell
@cell-border-color: #f3f3f3;
@cell-background-color: #ffffff;
@cell-hover-background-color: #f9f9f9;
@cell-active-background-color: #f9f9f9;
@cell-padding: 10px 16px;
@cell-font-color: @font-color;
@cell-font-size: @font-size;
@cell-line-height: @line-height;
@cell-icon-margin-right: 8px;
@cell-extra-margin-left: 8px;
@cell-extra-font-color: @font-secondary-color;
@cell-arrow-margin-left: 4px;
@cell-arrow-color: @font-secondary-color;
@cell-arrow-size: @font-size-sm;
@cell-checkmark-margin-left: 4px;
@cell-checkmark-color: @font-secondary-color;
@cell-checkmark-size: @font-size-sm;

@cell-selected-background-color: #e6f7ff;
@cell-selected-hover-background-color: #dcf4ff;
@cell-selected-active-background-color: #dcf4ff;
@cell-selected-border-color: #e1f2fa;
@cell-selected-hover-border-color: #d8effa;
@cell-selected-active-border-color: #d8effa;
@cell-selected-font-color: @primary-color;

@cell-disabled-font-color: @font-disabled-color;

@cell-group-background-color: #fafafa;
@cell-group-padding: 4px 16px;
@cell-group-font-color: @font-disabled-color;
@cell-group-font-size: @font-size-sm;
@cell-group-line-height: 20px;

// Collapse
@collapse-border-color: #f0f0f0;
@collapse-border-radius: @border-radius;
@collapse-background-color: @component-background-color;
@collapse-font-color: @font-color;
@collapse-font-size: @font-size;
@collapse-line-height: @line-height;

@collapse-panel-header-background-color: #fafafa;
@collapse-panel-header-padding: @padding-sm @padding-md;
@collapse-panel-header-font-color: @font-primary-color;
@collapse-panel-header-font-size: @font-size;
@collapse-panel-header-line-height: @line-height;
@collapse-panel-body-padding: @padding-md;
@collapse-panel-arrow-margin: @margin-xs;
@collapse-panel-extra-margin: @margin-xs;
@collapse-panel-disabled-header-font-color: @font-disabled-color;

// Countdown
@countdown-line-height: @line-height;
@countdown-header-margin-bottom: @margin-sm;
@countdown-body-color: @font-primary-color;
@countdown-body-font-size: @font-size + 10px;
@countdown-body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@countdown-footer-margin-top: @margin-sm;
@countdown-title-color: @font-secondary-color;
@countdown-title-font-size: @font-size;
@countdown-extra-margin-left: @margin-xs;
@countdown-extra-color: @font-secondary-color;
@countdown-extra-font-size: @font-size;
@countdown-prefix-margin-right: @margin-xss;
@countdown-prefix-font-size: @font-size + 10px;
@countdown-suffix-margin-left: @margin-xss;
@countdown-suffix-font-size: @font-size + 2px;

// Descriptions
@descriptions-line-height: @line-height;
@descriptions-title-font-color: @font-primary-color;
@descriptions-title-font-size: @font-size-lg;
@descriptions-title-font-weight: @font-weight-bold;
@descriptions-body-border-radius: @border-radius;
@descriptions-item-label-font-color: @font-primary-color;
@descriptions-item-label-colon-margin-left: 2px;
@descriptions-item-label-colon-margin-right: @margin-xs;
@descriptions-item-content-font-color: @font-color;
@descriptions-cell-border-color: #f0f0f0;
@descriptions-cell-background-color: #fafafa;

// Empty
@empty-image-height: 40px;
@empty-description-margin-top: @margin-sm;
@empty-description-font-color: @font-disabled-color;
@empty-description-font-size: @font-size;
@empty-description-line-height: @line-height;
@empty-content-margin-top: @margin-lg;

// Image
@image-placeholder-background-color: #fafafa;
@image-placeholder-font-color: @font-disabled-color;
@image-placeholder-font-size: @font-size;
@image-error-background-color: #fafafa;
@image-error-font-color: @font-disabled-color;
@image-error-font-size: @font-size;

// Popover
@popover-border-radius: @border-radius;
@popover-background-color: #fff;
@popover-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
@popover-padding: 10px 16px;
@popover-font-color: #595959;
@popover-font-size: @font-size;
@popover-line-height: @line-height;
@popover-header-border-bottom: 1px solid #f0f0f0;
@popover-header-font-color: #262626;
@popover-arrow-size: 8px;
@popover-gutter: @popover-arrow-size + 2px;

// Statistic
@statistic-line-height: @line-height;
@statistic-header-margin-bottom: @margin-sm;
@statistic-body-color: @font-primary-color;
@statistic-body-font-size: @font-size + 10px;
@statistic-body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@statistic-footer-margin-top: @margin-sm;
@statistic-title-color: @font-secondary-color;
@statistic-title-font-size: @font-size;
@statistic-extra-margin-left: @margin-xs;
@statistic-extra-color: @font-secondary-color;
@statistic-extra-font-size: @font-size;
@statistic-prefix-margin-right: @margin-xss;
@statistic-prefix-font-size: @font-size + 10px;
@statistic-suffix-margin-left: @margin-xss;
@statistic-suffix-font-size: @font-size + 2px;

// Tag
@tag-border-width: 1px;
@tag-border-radius: @border-radius;

@tag-size-sm: 20px;
@tag-size-md: 24px;
@tag-size-lg: 28px;

@tag-padding-sm: 4px;
@tag-padding-md: 6px;
@tag-padding-lg: 8px;

@tag-font-size-sm: 12px;
@tag-font-size-md: 12px;
@tag-font-size-lg: 14px;

@tag-default-border-color: #e0e0e0;
@tag-default-background-color: #fafafa;
@tag-default-font-color: #595959;
@tag-primary-border-color: #2d8cf0;
@tag-primary-background-color: #2d8cf0;
@tag-primary-font-color: #fff;
@tag-info-border-color: #5bc0de;
@tag-info-background-color: #5bc0de;
@tag-info-font-color: #fff;
@tag-warning-border-color: #faad14;
@tag-warning-background-color: #faad14;
@tag-warning-font-color: #fff;
@tag-success-border-color: #52c41a;
@tag-success-background-color: #52c41a;
@tag-success-font-color: #fff;
@tag-error-border-color: #ed5565;
@tag-error-background-color: #ed5565;
@tag-error-font-color: #fff;
@tag-blue-border-color: #97cdff;
@tag-blue-background-color: #f3f9ff;
@tag-blue-font-color: #1890ff;
@tag-cyan-border-color: #94e3e3;
@tag-cyan-background-color: #f3fbfb;
@tag-cyan-font-color: #13c2c2;
@tag-geekblue-border-color: #a1b2f6;
@tag-geekblue-background-color: #f4f6fe;
@tag-geekblue-font-color: #2f54eb;
@tag-gold-border-color: #fcda95;
@tag-gold-background-color: #fefaf3;
@tag-gold-font-color: #faad14;
@tag-green-border-color: #b1e497;
@tag-green-background-color: #f6fcf3;
@tag-green-font-color: #52c41a;
@tag-lime-border-color: #d4ed93;
@tag-lime-background-color: #fafdf3;
@tag-lime-font-color: #a0d911;
@tag-magenta-border-color: #f6a1cf;
@tag-magenta-background-color: #fef4f9;
@tag-magenta-font-color: #eb2f96;
@tag-orange-border-color: #fccb96;
@tag-orange-background-color: #fef9f3;
@tag-orange-font-color: #fa8c16;
@tag-pink-border-color: #f6a1cf;
@tag-pink-background-color: #fef4f9;
@tag-pink-font-color: #eb2f96;
@tag-purple-border-color: #bfa0ea;
@tag-purple-background-color: #f7f4fc;
@tag-purple-font-color: #722ed1;
@tag-red-border-color: #ff8c8c;
@tag-red-background-color: #fff2f2;
@tag-red-font-color: #ff0000;
@tag-volcano-border-color: #fcb298;
@tag-volcano-background-color: #fef6f3;
@tag-volcano-font-color: #fa541c;
@tag-yellow-border-color: #fcee95;
@tag-yellow-background-color: #fefdf3;
@tag-yellow-font-color: #fadb14;

// Tooltip
@tooltip-border-radius: @border-radius;
@tooltip-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
@tooltip-padding: 10px 12px;
@tooltip-font-size: @font-size;
@tooltip-line-height: @line-height;
@tooltip-arrow-size: 8px;
@tooltip-gutter: @tooltip-arrow-size + 2px;
@tooltip-light-background-color: #fff;
@tooltip-light-font-color: #595959;
@tooltip-dark-background-color: #1a2035;
@tooltip-dark-font-color: #fff;
@tooltip-blue-background-color: #1890ff;
@tooltip-blue-font-color: #fff;
@tooltip-cyan-background-color: #13c2c2;
@tooltip-cyan-font-color: #fff;
@tooltip-geekblue-background-color: #2f54eb;
@tooltip-geekblue-font-color: #fff;
@tooltip-gold-background-color: #faad14;
@tooltip-gold-font-color: #fff;
@tooltip-green-background-color: #52c41a;
@tooltip-green-font-color: #fff;
@tooltip-lime-background-color: #a0d911;
@tooltip-lime-font-color: #fff;
@tooltip-magenta-background-color: #eb2f96;
@tooltip-magenta-font-color: #fff;
@tooltip-orange-background-color: #fa8c16;
@tooltip-orange-font-color: #fff;
@tooltip-pink-background-color: #eb2f96;
@tooltip-pink-font-color: #fff;
@tooltip-purple-background-color: #722ed1;
@tooltip-purple-font-color: #fff;
@tooltip-red-background-color: #f5222d;
@tooltip-red-font-color: #fff;
@tooltip-volcano-background-color: #fa541c;
@tooltip-volcano-font-color: #fff;
@tooltip-yellow-background-color: #fadb14;
@tooltip-yellow-font-color: #fff;

// 反馈组件 --------------------------------------------------------------------------------

// Alert
@alert-border: @border-width @border-style @border-color;
@alert-border-radius: @border-radius;
@alert-background-color: @background-color;
@alert-line-height: @line-height;

@alert-info-border-color: ~`colorPalette("@{primary-color}", 3.5) `;
@alert-info-background-color: ~`colorPalette("@{primary-color}", 1) `;
@alert-info-icon-color: @primary-color;
@alert-warning-border-color: ~`colorPalette("@{warning-color}", 3.5) `;
@alert-warning-background-color: ~`colorPalette("@{warning-color}", 1) `;
@alert-warning-icon-color: @warning-color;
@alert-success-border-color: ~`colorPalette("@{success-color}", 3.5) `;
@alert-success-background-color: ~`colorPalette("@{success-color}", 1) `;
@alert-success-icon-color: @success-color;
@alert-error-border-color: ~`colorPalette("@{error-color}", 3.5) `;
@alert-error-background-color: ~`colorPalette("@{error-color}", 1) `;
@alert-error-icon-color: @error-color;

@alert-padding-vertical: 10px;
@alert-padding-horizontal: 16px;
@alert-with-icon-padding-left: @font-size + @alert-padding-horizontal + 10px;
@alert-closable-padding-right: @font-size-sm + @alert-padding-horizontal + 10px;

@alert-icon-top: @alert-padding-vertical + floor((@font-size * @alert-line-height - @font-size) / 2);
@alert-icon-left: @alert-padding-horizontal;
@alert-icon-font-size: @font-size;
@alert-message-color: @font-color;
@alert-message-font-size: @font-size;
@alert-btn-close-top: @alert-padding-vertical + floor((@font-size * @alert-line-height - @font-size-sm) / 2);
@alert-btn-close-right: @alert-padding-horizontal;
@alert-btn-close-font-size: @font-size-sm;

@alert-with-description-padding-vertical: 16px;
@alert-with-description-padding-horizontal: 16px;
@alert-with-description-with-icon-padding-left: floor(@font-size-lg * @alert-line-height) + @alert-with-description-padding-horizontal + 14px;
@alert-with-description-closable-padding-right: @font-size-sm + @alert-with-description-padding-horizontal + 14px;

@alert-with-description-icon-top: @alert-with-description-padding-vertical;
@alert-with-description-icon-left: @alert-with-description-padding-horizontal;
@alert-with-description-icon-font-size: floor(@font-size-lg * @alert-line-height);
@alert-with-description-message-color: @font-primary-color;
@alert-with-description-message-font-size: @font-size-lg;
@alert-with-description-btn-close-top: @alert-with-description-padding-vertical + floor((@font-size-lg * @alert-line-height - @font-size-sm) / 2);
@alert-with-description-btn-close-right: @alert-with-description-padding-horizontal;
@alert-with-description-btn-close-font-size: @font-size-sm;

// Drawer
@drawer-background-color: #fff;
@drawer-box-shadow: @box-shadow;
@drawer-header-border-bottom: 1px solid #f0f0f0;
@drawer-header-padding: 20px;
@drawer-body-padding: 20px;
@drawer-footer-border-top: 1px solid #f0f0f0;
@drawer-footer-padding: 20px;

// Modal
@modal-border-radius: @border-radius;
@modal-background-color: #fff;
@modal-box-shadow: @box-shadow;
@modal-header-border-bottom: 1px solid #f0f0f0;
@modal-header-padding: 20px;
@modal-body-padding: 20px;
@modal-footer-border-top: 1px solid #f0f0f0;
@modal-footer-padding: 20px;

// Notice
@notice-max-width: 360px;
@notice-border-radius: @border-radius;
@notice-background-color: @background-color;
@notice-box-shadow: @box-shadow;
@notice-line-height: @line-height;

@notice-info-icon-color: @primary-color;
@notice-warning-icon-color: @warning-color;
@notice-success-icon-color: @success-color;
@notice-error-icon-color: @error-color;

@notice-padding-vertical: 10px;
@notice-padding-horizontal: 16px;
@notice-with-icon-padding-left: @font-size + @notice-padding-horizontal + 10px;
@notice-closable-padding-right: @font-size-sm + @notice-padding-horizontal + 10px;

@notice-icon-top: @notice-padding-vertical + floor((@font-size * @notice-line-height - @font-size) / 2);
@notice-icon-left: @notice-padding-horizontal;
@notice-icon-font-size: @font-size;
@notice-title-color: @font-color;
@notice-title-font-size: @font-size;
@notice-btn-close-top: @notice-padding-vertical + floor((@font-size * @notice-line-height - @font-size-sm) / 2);
@notice-btn-close-right: @notice-padding-horizontal;
@notice-btn-close-font-size: @font-size-sm;

@notice-with-description-padding-vertical: 16px;
@notice-with-description-padding-horizontal: 16px;
@notice-with-description-with-icon-padding-left: floor(@font-size-lg * @notice-line-height) + @notice-with-description-padding-horizontal + 14px;
@notice-with-description-closable-padding-right: @font-size-sm + @notice-with-description-padding-horizontal + 14px;

@notice-with-description-icon-top: @notice-with-description-padding-vertical;
@notice-with-description-icon-left: @notice-with-description-padding-horizontal;
@notice-with-description-icon-font-size: floor(@font-size-lg * @notice-line-height);
@notice-with-description-title-color: @font-primary-color;
@notice-with-description-title-font-size: @font-size-lg;
@notice-with-description-btn-close-top: @notice-with-description-padding-vertical + floor((@font-size-lg * @notice-line-height - @font-size-sm) / 2);
@notice-with-description-btn-close-right: @notice-with-description-padding-horizontal;
@notice-with-description-btn-close-font-size: @font-size-sm;

// Result
@result-padding: 48px;
@result-icon-margin-bottom: 40px;
@result-icon-font-size: 72px;
@result-title-font-color: @font-primary-color;
@result-title-font-size: @font-size + 10px;
@result-title-line-height: @line-height;
@result-description-margin-top: 10px;
@result-description-font-color: @font-secondary-color;
@result-description-font-size: @font-size;
@result-description-line-height: @line-height;
@result-content-border-radius: @border-radius;
@result-content-background-color: #fafafa;
@result-content-margin-top: 40px;
@result-content-padding: 30px;
@result-extra-margin-top: 40px;

// Skeleton
@skeleton-color: #f2f2f2;
@skeleton-from-color: #f5f5f5;
@skeleton-to-color: #f0f0f0;
@skeleton-header-padding-right: 16px;
@skeleton-title-height: 16px;
@skeleton-paragraph-margin-top: 24px;
@skeleton-paragraph-li-height: 16px;
@skeleton-paragraph-li-margin-top: 16px;

// Spin
@spin-color: #2d8cf0;

@spin-font-size-sm: 12px;
@spin-font-size-md: 14px;
@spin-font-size-lg: 16px;

@spin-message-margin-top-sm: 8px;
@spin-message-margin-top-md: 12px;
@spin-message-margin-top-lg: 16px;

@spin-dot-size-sm: 20px;
@spin-dot-size-md: 28px;
@spin-dot-size-lg: 36px;

@spin-dot-item-size-sm: 6px;
@spin-dot-item-size-md: 8px;
@spin-dot-item-size-lg: 10px;

// 其它组件 --------------------------------------------------------------------------------

// Anchor
@anchor-font-color: @font-color;
@anchor-font-size: @font-size;
@anchor-line-height: @line-height;
@anchor-ink-track-size: 2px;
@anchor-link-padding-vertical: 5px;
@anchor-link-padding-horizontal: 16px;
@anchor-link-padding: @anchor-link-padding-vertical 0 @anchor-link-padding-vertical @anchor-link-padding-horizontal;
@anchor-link-title-font-color: @font-color;
@anchor-link-title-hover-font-color: tint(@primary-color, 10%);
@anchor-link-title-active-font-color: shade(@primary-color, 10%);
@anchor-link-title-on-font-color: @primary-color;

// Backtop
@backtop-size: 40px;
@backtop-content-radius: 20px;
@backtop-content-background-color: rgba(0,0,0,0.45);
@backtop-content-hover-background-color: rgba(0,0,0,0.65);
@backtop-content-font-color: #fff;
@backtop-content-font-size: 20px;